<template>
    <div class="aboutDetail posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.aboutDetail'),start:true}"></head-top>
        <div class="aboutDetail-box">
            <div class="aboutDetail-top">
                <div class="aboutDetail-title">{{ title }}</div>
                <div class="aboutDetail-list">
                    <div class="aboutDetail-item" v-if="address">
                        <div class="item-title">{{ $t("message.about.addre") }} :</div>
                        <div class="item-text">{{ address.address }} ，{{ address.addressDetail}}</div>
                    </div>
                    <div class="aboutDetail-item" v-if="area.label">
                        <div class="item-title">{{ $t("message.about.area") }} :</div>
                        <div class="item-text">{{area.label}}</div>
                    </div>
                    <div class="aboutDetail-item" v-if="time.initValue">
                        <div class="item-title">{{ $t("message.about.num") }} :</div>
                        <div class="item-text">{{time.initValue}} {{ $t("message.about.hours") }}</div>
                    </div>
                    <div class="aboutDetail-item" v-if="date.date">
                        <div class="item-title">{{ $t("message.about.time") }} :</div>
                        <div class="item-text">{{date.date}} {{date.monday}}，{{date.startTime}}-{{date.endTime}}</div>
                    </div>
                    <div class="aboutDetail-item" v-if="personnel.text">
                        <div class="item-title">{{ $t("message.about.people") }} :</div>
                        <div class="item-text">{{personnel.text}}</div>
                    </div>
                    <div class="aboutDetail-item" v-if="situation.length">
                        <div class="item-title">{{ $t("message.about.situation") }} :</div>
                        <div class="item-text" v-for="item in situation">{{item.label}}</div>
                    </div>
                    <div class="aboutDetail-item" v-if="tional.length">
                        <div class="item-title">{{ $t("message.about.additional") }} :</div>
                        <div class="item-text" v-for="item in tional">{{item.label}}</div>
                    </div>
                    <div class="aboutDetail-item" v-if="note.value">
                        <div class="item-title">{{ $t("message.about.note") }} :</div>
                        <div class="item-text">{{ note.value }}</div>
                    </div>
                </div>
            </div>
            <div class="aboutDetail-price">
                <div class="price-titel">{{ $t("message.about.detail") }}</div>
                <div class="price-list">
                    <div class="price-item" v-for="item in list">
                        <div class="price-text">{{ item.itemName }}</div>
                        <div class="price-num">${{ item.amount }}</div>
                    </div>
                </div>
                <div class="toal-price">{{ $t("message.price.stay") }}:${{toalPrice}}</div>
            </div>
            <div class="aboutDetail-tiaokuan">
                <div class="tiaokuan-title">{{ $t("message.about.tiaokuan") }}</div>
                <div class="tiaokuan-text" v-for="item in $t('message.about.tiaokuanList')">{{ item.content }}<a v-if="item.text">{{ item.text }}</a></div>                
            </div>
        </div>
        <div class="app-foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        <div class="btn-box">
            <div class="btn" @click="confirm">{{ $t("message.btn.make") }}</div>
        </div>
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import {ajax,getQuestions,dateFormat} from "@/util/util";
    
    export default {
        name: 'aboutDetail',
        components:{
            headTop:headTop,
        },
        data() {
            return {
                list:[],
                address:{},
                date:{},
                time:{},
                personnel:{},
                tional:[],
                note:{},
                area:{},
                situation:[],
                toalPrice:"",
                title:"",
            };
        },
        created(){
            // 获取storage中存储的一般服务流程
            var data = JSON.parse(window.sessionStorage.data);
            this._data.title = data.page_title;
        },
        mounted(){
            if(JSON.stringify(this.$about.address) != "{}"){
                var datas = getQuestions(this.$about,3);
                this.getData(datas);
                this._data.address = this.$about.address;
                var datas = this.$about.date
                datas.date = dateFormat(datas.day,"yyyy年MM月dd日");
                this._data.date = datas;
                this._data.time = this.$about.time;
                this._data.personnel = this.$about.personnels;
                this._data.tional = this.$about.tional;
                this._data.note = this.$about.note;
                this._data.area = this.$about.area;
                this._data.situation = this.$about.situation;
            }else{
               this.$router.back(-1); 
            }
        },
        methods:{
            changeBack(){
                this.$router.back(-1)
            },
            getData(data){
                var params = {
                    url:"api/package/direct/"+ this.$path +"/questions",
                    data:data,
                    type:"post",
                    success:res=>{
                        this._data.list = res.data.prices[0].details;
                        this._data.toalPrice = res.data.prices[0].amount;
                    }
                }
                ajax(params)
            },
            confirm(){
                var params = {
                    url:"api/project",
                    type:"post",
                    data:getQuestions(this.$about,this.$path),
                    success:res=>{
                        // console.log(res)
                        this.$router.push({
                            name:"complete",
                            params:{lang:this.$i18n.locale}
                        })
                        this.setAboutAll({
                            address:{},
                            area:{},
                            situation:[],
                            time:{},
                            date:{},
                            personnels:{},
                            tional:[],
                            note:{},
                        })                  
                    }
                }
                ajax(params)
                
            }
        }
    }
</script>