<template>
    <div class="modifyTime posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.time'),start:true}"></head-top>
        <div class="modifyTime-box">
            <div class="modifyTime-prompt">{{text}}</div>
            <div class="modifyTime-date">
                <div class="date-title">{{ $t('message.about.date') }}</div>
                <div class="date-list">
                    <div class="swiper-container swiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="(item,index) in weekList" >
                                <div class="date-item" :class="item.start?'start':''" @click="weekBtn(index)">
                                    <div class="week">{{item.monday}}</div>
                                    <div class="date-time">{{item.date}}</div>
                                    <div v-if="item.extraFeeTip" class="date-div">
                                        <div  class="date-text yellow">
                                            <span>{{ item.extraFeeTip }}</span>
                                        </div>
                                    </div>
                                    <div v-if="item.discountFeeTip" class="date-div">
                                        <div  class="date-text">
                                            <span>{{ item.discountFeeTip }}</span>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="date-item disabled" v-else>
                                    <div class="week">{{item.monday}}</div>
                                    <div class="date-time">{{item.date}}</div>
                                    <div v-if="item.extraFeeTip" class="date-div">
                                        <div  class="date-text">
                                            <span>{{ item.extraFeeTip }}</span>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modifyTime-date">
                <div class="date-title">{{ $t('message.about.time') }}</div>
                <div class="date-list time-list">
                    <div class="time-item" v-for="(item,index) in timeList" >
                        <div class="time-send" v-if="item.available" :class="item.start?'start':''" @click="timeBtn(index)">
                            <div class="time-time">{{ item.startTime }} - {{item.endTime}}</div>
                            <div class="time-text" v-if="item.tip" >{{ item.tip }}</div>
                        </div>
                        <div class="time-send disabled" v-else>
                            <div class="time-time">{{ item.startTime }} - {{item.endTime}}</div>
                            <div class="time-text" v-if="item.tip" >{{ item.tip }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        <div class="btn-box">
            <div class="btn" @click="getTime">{{ $t('message.btn.submit') }}</div>
        </div>       
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import Swiper from 'swiper';
    import {ajax,getQuestionsItem,dateFormat,getMonday} from "@/util/util";
    
    export default {
        name: 'aboutTime',
        components:{
            headTop:headTop,
        },
        data() {
            return {
                num:8,
                weekList:[],
                timeList:[],
                text:"",
                date:{},
                time:{},
            };
        },
        mounted(){
            var datas = getQuestionsItem(this.$about,1,"time");
            this.getData(datas);
        },
        methods:{
            // 返回
            changeBack(){
                this.$router.back(-1);
            },
            // 选择服务日期
            weekBtn(index){
                var list = this._data.weekList;
                for(var i = 0; i<list.length; i++){
                    list[i].start = false;
                }
                list[index].start = true;
                for(var i = 0; i<list[index].times.length; i++){
                    list[index].times[i].start = false;
                }
                this._data.timeList = list[index].times;
                this._data.date = list[index];
            },
            // 选择服务时间
            timeBtn(index){
                var list = this._data.timeList;
                for(var i = 0; i<list.length; i++){
                    list[i].start = false;
                }
                list[index].start = true;
                this._data.time = list[index]
            },
            // 获取时间
            getData(data){
                var params = {
                    url:"api/package/direct/"+ this.$path +"/schedules",
                    data:data,
                    type:"post",
                    success:res=>{
                      console.log(res);
                        this._data.text = res.data.tip;
                        var weekList = res.data.days;
                        for(var i=0; i<weekList.length; i++){
                            weekList[i].start = false;                            
                            if(i==0){
                                weekList[i].start = true;
                            }
                            weekList[i].date = dateFormat(weekList[i].day,"MM月dd日");
                            weekList[i].monday = getMonday(weekList[i].day,1);
                            for(var j=0; j<weekList[i].times.length;j++){
                                weekList[i].times[j].start = false;
                            }                            
                        }
                        this._data.weekList = weekList;
                        this._data.date = weekList[0];
                        this._data.timeList = weekList[0].times;
                        setTimeout(()=>{
                            var swiper = new Swiper('.swiper2', {
                                slidesPerView: 3.8,
                                paginationClickable: true,
                                spaceBetween: 10,
                                freeMode: true
                            });
                        },200)
                        
                    }
                }
                ajax(params)
            },
            // 确认提交
            getTime(){
                var data = this._data;
                if(JSON.stringify(data.date) == "{}"){
                    return;
                }
                if(JSON.stringify(data.time) == "{}"){
                    return;                    
                }
                var datas = {
                    day:data.date.day,
                    monday:data.date.monday,
                    startTime:data.time.startTime,
                    endTime:data.time.endTime,
                    questionNumber: this.$path + "-4",
                }
                this.setAbout("date",datas);
                this.$router.back(-1);                
            }
        }
    }
</script>