<template>
    <div class="about posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.about'),start:true}"></head-top>
        <div class="line">
            <div class="line-start"  :style="'width:'+ level +'%' "></div>
        </div>
        <div class="about-box">
            <div class="about-item" @click="address">
                <div class="about-top">
                    <div class="top-left">
                        <i class="top-icon top-icona"></i>
                        <span>{{addre.label}}</span>
                    </div>
                    <div class="top-right" v-if="addre.address" >{{ addre.address }} ，{{ addre.addressDetail}}</div>
                    <div class="top-right icon-right" v-else ></div>                    
                </div>
            </div>
            <div v-if="addre.address">
                <div class="about-item">
                    <div class="about-top">
                        <div class="top-left">
                            <i class="top-icon top-iconb"></i>
                            <span>{{ $t("message.about.area") }}</span>
                        </div>
                        <div class="top-right">
                            <span>{{area}}</span>
                            <select v-model="area" class="area-select" @change="chooseMedicine">
                                <option  v-for="send  in areaList" name="sendSymbolId" :value="send.label" >{{send.label}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="about-item">
                    <div class="about-top">
                        <div class="top-left">
                            <i class="top-icon top-iconc"></i>
                            <span>{{ $t("message.about.situation") }}</span>
                        </div>
                        <div class="top-right"></div>
                    </div>
                    <div class="ation-list">
                        <div class="ation-item" :class="item.start?'start':''" v-for="(item,index) in list" @click="ation(index)">
                            <i class="ation-icon"></i>
                            <span>{{ item.label }}</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="app-foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        <div class="btn-box">
            <div class="btn" v-if="start" @click="next">{{ $t("message.btn.next") }}</div>
            <div class="btn disabled" v-else>{{ $t("message.btn.next") }}</div>
        </div>      
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import {ajax,getQuestions} from "@/util/util";
    export default {
        name: 'about',
        components:{
            headTop:headTop,
        },
        data() {
            return {
                num:8,
                list:[],
                areaList:[],
                level:2,
                start:false,
                area:"",
                addre:{
                    
                }
            };
        },
        mounted(){
            // 是否有地址缓存
            if(JSON.stringify(this.$about.address) != "{}"){
                var datas = getQuestions(this.$about,1);
                this.getDate(datas);
                
            }else{
                this.getDate({});                
            }            
        },
        methods:{
            // 返回需清除问答缓存
            changeBack(){
                this.setAbout("address",{})
                this.setAbout("area",{})
                this.setAbout("situation",[])                
                this.$router.back(-1)
            },
            //    选择家具面积 
            chooseMedicine(){
                var area = this._data.area;
                var list = this._data.areaList;
                for(var i=0; i<list.length; i++){
                    if(area == list[i].label){
                        this._data.areaArry = list[i];
                    }
                }
            },
            // 获取数据
            getDate(data){
                // 获取地址信息
                var path = this.$path;
                var params = {
                    url:"api/package/direct/"+ path +"/questions",
                    data:data,
                    type:"post",
                    success:res=>{
                        console.log(res);
                        var data = res.data.questions;
                        for(var i=0; i<data.length; i++){
                            if(data[i].questionNumber == (path+"-1")){
                                // 缓存中是否有值
                                if(JSON.stringify(this.$about.address) != "{}"){
                                    var dataList = this.$about.address
                                    this._data.addre = dataList;
                                    this._data.addre.label = this.$t("message.about.addre");
                                }else{
                                    this._data.addre = data[i]
                                }
                            }
                            if(data[i].questionNumber == (path+"-2")){
                                var areaList = data[i].possibleValues;
                                var area = this.$about.area;
                                var num = 0;
                                for(var j=0; j<areaList.length; j++){
                                    areaList[j].questionNumber = data[i].questionNumber;
                                    // 缓存中是否有值                                    
                                    if(area.value == areaList[j].value){
                                        num = j;
                                    }
                                }
                                this._data.areaList = areaList;
                                this._data.area = areaList[num].label;
                                this._data.areaArry = areaList[num];
                            }
                            if(data[i].questionNumber == (path+"-7")){
                                var list = data[i].possibleValues;
                                var situation = this.$about.situation;
                                for(var j=0; j<list.length;j++){
                                    
                                    list[j].questionNumber = data[i].questionNumber;
                                    list[j].start = false;
                                    // 缓存中是否有值                                
                                    for(var e=0; e<situation.length; e++){
                                        if(situation[e].value == list[j].value){
                                            list[j].start = true;                                            
                                        }
                                    }
                                }
                                this._data.list = list;
                            }
                        }
                        this.ifData();                        
                        // this._data.addre = res.data.questions[0];
                    },
                    error:res=>{
                        // console.log(1)
                        if(res.errorCode == "05001"){
                            myApp.$root.eventHub.$emit("showprompt",{
                                content:res.errorMessage,
                                callback:()=>{
                                    this.setAbout("address",{});
                                    this.setAbout("area",{})
                                    this.setAbout("situation",[])
                                    this.getDate({})  
                                }
                            });
                        }else{
                            myApp.$root.eventHub.$emit("showprompt",{
                                content:res.errorMessage,
                            });
                        }
                        
                    }
                }
                ajax(params)
            },
            // 家居情况选择
            ation(index){
                this._data.list[index].start = !this._data.list[index].start;
            },
            // 获取选择中的家居情况
            getSituation(){
                var list = this._data.list;
                var situation = [];
                for(var i=0; i<list.length; i++){
                    if(list[i].start){
                        situation.push(list[i]);
                    }
                }
                return situation;
            },
            // 判断按钮能否点击
            ifData(){
                if(!this._data.addre.address){
                    this._data.start = false;
                    return;
                }
                if(!this._data.area){
                    this._data.start = false;                    
                    return;
                }
                this._data.start = true;
            },
            // 选择地址页面
            address(){
                this.$router.push({
                    name:"addre",
                    params:{lang:this.$i18n.locale}
                })
            },
            // 下一步
            next(){
                var areaArry = this._data.areaArry;
                if(areaArry){
                    this.setAbout("area",areaArry);
                }
                var situation = this.getSituation();
                if(JSON.stringify(situation) != "[]"){
                    this.setAbout("situation",situation)
                }
                
                this.$router.push({
                    name:"aboutDate",
                    params:{lang:this.$i18n.locale}
                })
            }
        }
    }
</script>