<template>
    <div class="aboutDate posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.about'),start:true}"></head-top>
        <div class="line">
            <div class="line-start"  :style="'width:'+ level +'%' "></div>
        </div>

        <div class="aboutDate-box">
            <div class="aboutDate-date">
                <div class="date-left">
                    <div class="date-icon"></div>
                    <div class="date-content">
                        <div class="date-title">{{ $t("message.about.num") }}</div>
                        <div class="date-text">{{dateData.subLabel}}</div>
                    </div>
                </div>
                <div class="date-right">
                    <div class="date-subtract" @click="subtractTime"></div>
                    <div class="date-tiem">{{dateData.initValue}} {{ $t("message.about.hours") }}</div>
                    <div class="date-add" @click="addTime"></div>
                </div>
            </div>
            <div class="aboutDate-time" @click="time">
                <div class="time-left">
                    <i class="time-icon"></i>
                    <span>{{ $t("message.about.time") }}</span>
                </div>
                <div class="time-right" v-if="date.date">{{date.date}} {{date.monday}}，{{date.startTime}}-{{date.endTime}}</div>
                <div class="time-right" v-else>{{ $t("message.placeholder.date")  }}</div>             
            </div>

            <div class="aboutDate-item">
                <div class="aboutDate-title">{{ $t("message.advice.title") }}</div>
                <div class="aboutDate-text">
                    {{ $t("message.advice.content") }}
                    <a @click="maskBtn">{{ $t("message.advice.text") }}</a>
                </div>
            </div>
            <div class="aboutDate-item">
                <div class="aboutDate-title">{{ $t("message.about.detail") }}</div>
                <div class="aboutDate-list">
                    <div class="item-line" v-for="item in lineList">
                        <div class="line-title">{{item.itemName}}</div>
                        <div class="line-price">${{ item.amount/100 }}</div>
                    </div>
                </div>
                <div class="toal-price">{{$t("message.price.subtotal") }}：${{toalPrice/100}}</div>
            </div>
        </div>

        <div class="app-foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        <div class="btn-box">
            <div class="btn" v-if="start" @click="next">{{ $t("message.btn.next") }}</div>
            <div class="btn disabled" v-else>{{ $t("message.btn.next") }}</div>
        </div>


        <div class="mask-about" v-if="mask">
            <div class="mask-box">
                <div class="mask-top">
                    <div class="top-title">
                        <i class="top-icon"></i>
                        <span>{{ listTitle }}</span>
                    </div>
                    <div class="down" @click="down">×</div>
                </div>
                <div class="mask-list">
                    <div class="mask-item" v-for="(item, index) in listicon">
                        <div class="mask-title">
                            <i class="mask-icon" :class="'process-icon'+ (index+1)"></i>
                            <span>{{item.title}}</span>
                        </div>
                        <p class="mask-text">{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import {ajax,getQuestions,dateFormat} from "@/util/util";

    export default {
        name: 'aboutDate',
        components:{
            headTop:headTop,
        },
        data() {
            return {
                level:40,
                numTime:4,
                start:true,
                mask:false,
                listicon: [],
                listTitle:"",
                lineList:[],
                toalPrice:0,
                dateData:"",
                timeData:"",
                date:{},
            };
        },
        created(){
            // 获取storage中存储的一般服务流程
            var data = JSON.parse(window.sessionStorage.data);
            this._data.listicon = data.cleaning_step;
            this._data.listTitle = data.cleaning_step_header;
        },
        mounted(){
            // 判断地址
            if(JSON.stringify(this.$about.address) != "{}"){
                var datas = getQuestions(this.$about,2);
                this.getData(datas);
                // 判断缓存中是否有时间
                if(JSON.stringify(this.$about.date) != "{}"){
                    var datas = this.$about.date
                    datas.date = dateFormat(datas.day,"yyyy年MM月dd日");
                    this._data.date = datas;
                }
            }else{
               this.$router.back(-1); 
            }
        },
        methods:{
            // 返回清除本页中的缓存
            changeBack(){
                this.setAbout("date",{})
                this.setAbout("time",{})                                      
                this.$router.back(-1)
            },
            // 下一步
            next(){
                // 服务时间是否选择
                if(JSON.stringify(this.$about.date) == "{}"){
                    myApp.$root.eventHub.$emit("showprompt",{
                        content:this.$t("message.placeholder.date"),
                    });
                    return;
                }
                this.$router.push({
                    name:"choose",
                    params:{lang:this.$i18n.locale}                    
                })
            },
            // 获取数据
            getData(data){
                var params = {
                    url:"api/package/direct/"+ this.$path +"/questions",
                    data:data,
                    type:"post",
                    success:res=>{
                        console.log(res);
                        this._data.lineList = res.data.prices[0].details;
                        this._data.toalPrice = res.data.prices[0].amount;
                        var data = res.data.questions;
                        for(var i=0; i<data.length; i++){
                            if(data[i].questionNumber == this.$path+"-3"){
                                if(JSON.stringify(this.$about.time) != "{}"){
                                    this._data.dateData = this.$about.time;                                    
                                }else{
                                    this._data.dateData = data[i];                                                                    
                                }
                            }
                            if(data[i].questionNumber == this.$path + "-4"){
                                this._data.timeData = data[i];
                            }
                        }
                    },
                    error:res=>{
                        // console.log(1)
                        if(res.errorCode == "05002"){
                            myApp.$root.eventHub.$emit("showprompt",{
                                content:res.errorMessage,
                                callback:()=>{
                                    this.setAbout("area",{})
                                    this.setAbout("situation",[])                                    
                                    this.$router.back(-1)                                    
                                }
                            });
                        }else{
                            myApp.$root.eventHub.$emit("showprompt",{
                                content:res.errorMessage,
                            });
                        }
                        
                    }
                }
                ajax(params)
            },
            // 服务时段页
            time(){
                this.setAbout("time",this._data.dateData);
                this.$router.push({
                    name:"aboutTime",
                    params:{lang:this.$i18n.locale}                    
                })
            },
            // 时间减
            subtractTime(){
                if(this._data.dateData.minValue < this._data.dateData.initValue){
                    this._data.dateData.initValue--;
                    this.setAbout("time",this._data.dateData);
                    this.getData(getQuestions(this.$about,2));                                
                }
            },
            // 时间加
            addTime(){
                if(this._data.dateData.maxValue > this._data.dateData.initValue){
                    this._data.dateData.initValue++;
                    this.setAbout("time",this._data.dateData);
                    this.getData(getQuestions(this.$about,2));                              
                }
            },
            // 一般服务流程弹框
            maskBtn(){
                this._data.mask = true;
            },
            down(){
                this._data.mask = false;
            },
        }
    }
</script>