<template>
    <div class="address posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.address'),start:true}"></head-top>
        <div class="address-box">
            <div class="address-title" v-if="total">{{ $t("message.about.usedAddre") }}</div>
            <div class="address-list">
                <div class="address-item" v-for="(item,index) in list" @click="adderssBtn(index)">
                    <div class="adderss-left">
                        <div class="address-icon" :class="item.start?'start':''"></div>
                        <div class="address-content">
                            <div class="address-name" v-if="item.contact">{{ item.contact }}</div>
                            <div class="address-phone" v-if="item.phone">{{ item.phone }}</div>
                            <div class="address-text">{{ item.address }}</div>
                        </div>
                    </div>
                    <!--<div class="address-right" v-on:click.stop="xuigai"></div>-->
                </div>
            </div>
            <div class="address-title">{{ $t("message.about.newAddre") }}</div>
            <div class="add" @click="adderssBtn" >
                <div class="address-icon"  :class="start?'start':''"></div>
                <div class="add-box">
                    <div class="add-item">
                        <div class="add-title">{{ $t("message.input.name") }}</div>
                        <div class="add-input">
                            <input v-on:click.stop type="" v-model="name"  :placeholder="$t('message.placeholder.name')" />
                        </div>
                    </div>
                    <div class="add-item">
                        <div class="add-title">{{ $t("message.input.phone") }}</div>
                        <div class="add-input phone">
                            <span>+852</span>
                            <input v-on:click.stop type="" v-model="phone" :placeholder="$t('message.placeholder.phone')" />
                        </div>
                    </div>
                    <div class="add-item">
                        <div class="add-title">{{ $t("message.input.addre") }}</div>
                        <div class="add-input" v-on:click.stop type="">
                            <input ref="addre" id="addre" v-on:click.stop type="" v-model="address" :placeholder="$t('message.placeholder.addre')" />
                            <!--<vue-google-autocomplete  ref="address" id="map" classname="form-control" :placeholder="$t('message.placeholder.addre')" v-on:placechanged="getAddressData"></vue-google-autocomplete>-->
                        </div>
                    </div>
                    <div class="add-item">
                        <div class="add-title">{{ $t("message.input.detailsAddre") }}</div>
                        <div class="add-input">
                            <input v-on:click.stop type="" v-model="addressDetail" :placeholder="$t('message.placeholder.detailsAddre')" />
                        </div>
                    </div>
                </div>
            </div>            
        </div>

        <div class="app-foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        <div class="btn-box">
            <div class="btn" v-if="btnStart" @click="addBtn">{{ $t('message.btn.mine')}}</div>
            <div class="btn disabled" v-else >{{ $t('message.btn.mine') }}</div>            
        </div>   
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import {ajax} from "@/util/util";
    import VueGoogleAutocomplete from 'vue-google-autocomplete'

    export default {
        name: 'addre',
        components:{
            headTop,
            VueGoogleAutocomplete,
        },
        data() {
            return {
                list:[],
                start:false,
                total:"",
                name:"",
                phone:"",
                address:"",
                addressDetail:"",
                btnStart:false,
                msg:"",               
            };
        },
        mounted(){
            this.getDate();
            this.getBtn();
            
        },
        methods:{
            /**
            * @param {Object} addressData 
            * @param {Object} placeResultData 
            * @param {String} id 
            */
            getAddressData: function (addressData, placeResultData, id) {
                this.address = placeResultData.formatted_address;
            },
            changeBack(){
                this.$router.back(-1)
            },
            getDate(){
                var params = {
                    url:"api/address",
                    type:"get",
                    success:res=>{
                        // console.log(res);
                        this._data.total = res.data.totalCount;
                        if(res.data.totalCount){
                            var data = res.data.addresses;
                            for(var i=0; i<data.length; i++){
                                data[i].start = false;
                            }
                            this._data.list = data;
                        }
                         
                    }
                }
                ajax(params);
            },
            getBtn(){
                if(this.isStart()){
                    this._data.btnStart = true;
                }else if(this._data.start){
                    this._data.btnStart = true;                    
                }else{
                    this._data.btnStart = false;                                        
                }
            },
            addDate(){
                var data = this._data;

                if(!data.name){
                    this.$root.eventHub.$emit("showprompt",{
                        content:this.$t('message.placeholder.name'),
                    });
                    return;
                }
                if(!data.phone){
                    this.$root.eventHub.$emit("showprompt",{
                        content:this.$t('message.placeholder.phone'),
                    });
                    return;
                }
                if(!data.address){
                    this.$root.eventHub.$emit("showprompt",{
                        content:this.$t('message.placeholder.addre'),
                    });
                    return;
                }
                if(!data.addressDetail){
                    this.$root.eventHub.$emit("showprompt",{
                        content:this.$t('message.placeholder.detailsAddre'),
                    });
                    return;
                }
                var params = {
                    url:"api/address",
                    type:"post",
                    data:{
                        address:data.address,
                        addressDetail:data.addressDetail,
                        contact:data.name,
                        phone:data.phone,
                    },
                    success:res=>{
                        // console.log(res);
                        res.data.questionNumber = this.$path+"-1",
                        this.setAbout("address",res.data)
                        this.$router.back(-1);                    
                    }
                }
                ajax(params);
            },
            adderssBtn(index){
                var list = this._data.list;
                for(var i=0; i<list.length; i++){
                    list[i].start = false;
                }
                this._data.start = false;      
                if(!isNaN(index)){
                    list[index].start = true;
                }else{
                    this._data.start = true;                            
                }
                this.getBtn();
            },
            xuigai(){
                console.log(111)
            },
            addBtn(){
                var is = this.isStart();
                if(is){
                    console.log(is)
                    this.setAbout("address",is);
                    this.$router.back(-1);
                }else if(this._data.start){
                    this.addDate();
                }else{

                }             
            },
            isStart(){
                var list = this._data.list;
                for(var i=0; i<list.length; i++){
                    if(list[i].start){
                        list[i].questionNumber = this.$path+"-1";
                        return list[i];
                    }
                }
                return false;
            }

        }
    }

    
</script>