<template>
    <div class="choose posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.about'),start:true}"></head-top>
        <div class="line">
            <div class="line-start"  :style="'width:'+ level +'%' "></div>
        </div>

        <div class="choose-box">
            <div class="choose-item" @click="personnel">
                <div class="choose-top">
                    <div class="choose-left">
                        <i class="choose-icona"></i>
                        <span>{{ $t('message.about.people') }}</span>
                    </div>
                    <div class="choose-right" v-if="personnels.possibleValues">{{ personnels.possibleValues[num].label }}</div>
                </div>
            </div>
            <div class="choose-item">
                <div class="choose-top">
                    <div class="choose-left">
                        <i class="choose-iconb"></i>
                        <span>{{ $t("message.about.additional") }}</span>
                    </div>
                    <div class="choose-right"></div>
                </div>
                <div class="tional">
                    <div class="tional-item" :class="item.start?'start':''" v-for="(item,index) in tionalList" @click="tionalBtn(index)">
                        <i class="tional-icon"></i>
                        <span>{{ item.label }}</span>
                    </div>
                </div>
            </div>

            <div class="choose-item">
                <div class="choose-top note-top">
                    <div class="choose-left">
                        <i class="choose-iconc"></i>
                        <span>{{ $t("message.about.note") }}</span>
                    </div>
                    <div class="choose-right">{{noteText.length}}/100</div>
                </div>
                <div class="note">
                    <div class="note-text">
                        <textarea :placeholder="$t('message.placeholder.special')" v-model="noteText" maxlength='100'></textarea>
                    </div>
                    <div class="note-list">
                        <div class="note-item" v-for="(item,index) in noteList" @click="noteBtn(item.label,index)">
                            <div class="note-icon">+</div>
                            <span>{{ item.label }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="choose-item">
                <div class="choose-top">
                    <div class="choose-left">
                        <i class="choose-icond"></i>
                        <span>優惠券</span>
                    </div>
                    <div class="choose-right">評價優惠券，即減$10</div>
                </div>
            </div>-->
            <div class="choose-tishi">
                <div class="tishi-title">{{ $t('message.about.prompt') }}</div>
                <div class="tishi-text" v-for="item in $t('message.about.promptList')">{{item}}</div>            
            </div>
            <div class="choose-tishi">
                <div class="tishi-title">{{ $t("message.about.detail") }}</div>
                 <div class="tishi-list">
                    <div class="item-line" v-for="item in lineList">
                        <div class="line-title">{{item.itemName}}</div>
                        <div class="line-price">${{item.amount}}</div>
                    </div>
                </div>
                <div class="toal-price">{{$t("message.price.subtotal") }}：${{toalPrice}}</div>
            </div>
        </div>

        <div class="app-foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        <div class="btn-box">
            <div class="btn" @click="next">{{ $t("message.btn.next") }}</div>
        </div>
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import {ajax,getQuestions,dateFormat} from "@/util/util";
    export default {
        name: 'choose',
        components:{
            headTop:headTop,
        },
        data() {
            return {
                level:80,
                mask:false,
                list:[1,2,3,4],
                noteText:"",
                lineList:[],
                toalPrice:"",
                tionalList:[],
                noteList:[],
                personnels:{},
                note:{},
                num:0,
            };
        },
        mounted(){
            // 获取缓存信息
            this._data.num = 0;
            if(JSON.stringify(this.$about.address) != "{}"){
                var datas = getQuestions(this.$about,3);
                this.getData(datas);
                // 服务人员
                if(JSON.stringify(this.$about.personnels) != "{}"){
                    
                    this._data.num = this.$about.personnels.value-1;
                }
            }else{
               this.$router.back(-1); 
            }
        },
        methods:{
            // 返回清除缓存
            changeBack(){
                this.setAbout("note",{});
                this.setAbout("tional",[]);
                this.setAbout("personnels",{});                
                this.$router.back(-1)
            },
            // 额外收费选择
            tionalBtn(index){
                var list = this._data.tionalList;
                list[index].start = !list[index].start ;
                this.settional();
                var datas = getQuestions(this.$about,3);
                this.getData(datas);
            },
            // 额外收费缓存
            settional(){
                var tionalList = this._data.tionalList;
                var arr = [];
                for(var i=0; i<tionalList.length; i++){
                    if(tionalList[i].start){
                        arr.push(tionalList[i]);
                    }
                }
                console.log(arr)
                this.setAbout("tional",arr);
            },
            // 获取数据
            getData(data){
                var params = {
                    url:"api/package/direct/"+ this.$path +"/questions",
                    data:data,
                    type:"post",
                    success:res=>{
                        console.log(res);
                        // 价格
                        this._data.lineList = res.data.prices[0].details;
                        this._data.toalPrice = res.data.prices[0].amount;
                        
                        // 遍历数据
                        var data = res.data.questions;
                        for(var i=0; i<data.length; i++){
                            if(data[i].questionNumber == this.$path + "-9"){
                                this._data.personnels = data[i];
                            }
                            if(data[i].questionNumber == this.$path + "-5"){
                                var list = data[i].possibleValues;
                                var tionalList = this.$about.tional;
                                for(var e=0; e<list.length; e++){
                                    list[e].questionNumber = data[i].questionNumber;
                                    list[e].start = false;
                                    for(var j=0; j<tionalList.length; j++){
                                        if(list[e].value == tionalList[j].value){
                                            list[e].start = true;                                            
                                        }
                                    }
                                }
                                this._data.tionalList = list;
                            }
                            if(data[i].questionNumber == this.$path + "-6"){
                                this._data.note = data[i];
                                this._data.noteList = data[i].possibleValues;
                            }
                        }
                    },
                    error:res=>{
                        //报错返回
                        myApp.$root.eventHub.$emit("showprompt",{
                            content:res.errorMessage,
                            callback:()=>{
                                this._data.num = 0;
                                this.setAbout("personnels",{});
                                var datas = getQuestions(this.$about,3);
                                this.getData(datas);  
                            }
                        });
                        
                    }
                }
                ajax(params)
            },
            // 备注的提示选择
            noteBtn(val,index){
                if((this._data.noteText + "，"+ val).length <= 100){
                    if(this._data.noteText){
                        this._data.noteText += "，"+val;                        
                    }else{
                        this._data.noteText += val;
                    }
                    // this._data.noteList.splice(index,1);
                }
                
            },
            // 下一步
            next(){
                if(this._data.noteText){
                    this.setAbout("note",{
                        questionNumber:this._data.note.questionNumber,
                        value:this._data.noteText,
                    });                              
                }
                this.setAbout("personnels",{
                    questionNumber:this._data.personnels.questionNumber,
                    value:this._data.num+1,
                    text:this._data.personnels.possibleValues[this._data.num].label,
                });

                this.$router.push({
                    name:"aboutDetail",
                    params:{lang:this.$i18n.locale} 
                })
            },
            // 服务人员
            personnel(){
                this.$router.push({
                    name:"personnel",
                    params:{lang:this.$i18n.locale}
                })
            }
        }
    }
</script>