<template>
    <div class="complete posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.complete'),start:true}"></head-top>
        <div class="complete-box">
            <div class="complete-icon"></div>
            <div class="complete-title">{{ $t('message.complete.title') }}</div>
            <div class="complete-text">{{ $t('message.complete.text') }}</div>
            <div class="complete-btn" @click="completeBtn">{{ $t('message.complete.btn') }}</div>
        </div>
    </div>
</template>
<script>
     import headTop from "../../components/headTop";
    export default {
        name: 'complete',
        components:{
            headTop:headTop,
        },
        data() {
            return {
                list:[1,23,4,5,6,7]
            };
        },
        mounted(){
            
        },
        methods:{
            changeBack(){
                this.$router.back(-1)
            },
            completeBtn(){
                this.$router.push({
                    name:"pres",
                    params: {lang: this.$i18n.locale},                    
                })
            },
        }
    }
</script>