<template>
    <div class="personnel posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.people'),start:true}"></head-top>
        <div class="personnel-box">
            <div class="personnel-item top" :class="start?'start':''" @click="changChoose">
                <i class="personnel-icon"></i>
                <div class="personnel-text">{{$t('message.personnel.systems')}}</div>
            </div>
            <div class="personnel-list" v-if="list.length">
                <div class="personnel-title">{{$t('message.personnel.onces')}}</div>
                <div class="personnel-item" v-for="(item,index) in list" :class="item.start?'start':''" @click="changChoose(index)">
                    <i class="personnel-icon" ></i>
                    <div class="personnel-user">
                        <div class="user-avatar" :style="item.logoUrl?('background-image:url('+item.logoUrl+')'):''"></div>
                        <div class="user-info">
                            <div class="user-name">{{ item.name }}</div>
                            <div class="user-text">{{$t('message.personnel.service')}}{{ item.hiredTimes }}{{$t('message.personnel.times')}}</div>
                            <div class="user-star">
                                <i class="icon-star" :class="item.rate >= 1?'start':''"></i>
                                <i class="icon-star" :class="item.rate >= 2?'start':''"></i>
                                <i class="icon-star" :class="item.rate >= 3?'start':''"></i>
                                <i class="icon-star" :class="item.rate >= 4?'start':''"></i>
                                <i class="icon-star" :class="item.rate >= 5?'start':''"></i>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="app-foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        <div class="btn-box">
            <div class="btn" @click="next">{{ $t("message.btn.mine") }}</div>
        </div>
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import {ajax} from "@/util/util";    
    export default {
        name: 'personnel',
        components:{
            headTop:headTop,
        },
        data() {
            return {
                num:8,
                list:[],
                start:true,
            };
        },
        mounted(){
            this.getData();
        },
        methods:{
            changeBack(){
                this.$router.back(-1)
            },
            next(){
                if(this._data.start){
                    this.setAbout("personnels",{
                        questionNumber:this.$path + "-9",
                        value:1,                 
                    });
                }else{
                    this.setAbout("personnels",{
                        questionNumber:this.$path + "-9",
                        value:2,
                    });
                }
                this.$router.back(-1)
            },
            getData(){
                var params = {
                    url:"api/package/direct/"+ this.$path +"/suppliers",
                    type:"post",
                    data:{},
                    success:res=>{
                        console.log(res);
                        this._data.list = res.data.suppliers;
                    }
                }
                ajax(params)
            },
            changChoose(index){
                var list = this._data.list;
                for(var i=0; i<list.length; i++){
                    list[i].start = false;
                }
                this._data.start = false;  
                if(!isNaN(index)){
                    list[index].start = true;
                }else{
                    this._data.start = true;                            
                }
            },
        }
    }
</script>