<template>
    <div class="cancel posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.cancel'),start:true}"></head-top>

        <div class="cancel-box">
            <div class="why">
                <div class="why-title">
                    <i></i>
                    <span>{{ data.label }}</span>
                </div>
                <div class="why-list">
                    <div class="why-item" v-for="(item,index) in data.possibleValues" @click="whyBtn(index)">
                        <div class="why-top">
                            <i class="why-icon" :class="item.start?'start':''"></i>
                            <span>{{ item.label }}</span>
                        </div>
                        <div class="why-text" v-on:click.stop v-if="item.canDescribe">
                            <textarea :placeholder=" item.label " v-model="whytxt"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        <div class="btn-box">
            <div class="btn" @click="cancellationfun">{{ $t('message.btn.mine') }}</div>
        </div>                           
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import {ajax,getQuestionsItem,dateFormat,getMonday} from "@/util/util";

    export default {
        name: 'cancel',
        components:{
            headTop:headTop,
        },
        data() {
            return {
                num:8,
                list:[1,2,3,4,5],
                modaltxt: {titel:"提交成功", contents:"客服會盡快處理您的取消預約需求，請耐心等候。"},
                sele: 0,
                whytxt: "",
                data:{},
            };
        },
        mounted(){
            this.getData();
        },
        methods:{
            changeBack(){
                this.$router.back(-1)
            },
            cancellationfun(){
                var data = this._data.data;
                var datas = {
                    action:"CANCEL",
                    questions:[
                        {
                            questionNumber:data.questionNumber,
                            answers:[]
                        }
                    ]
                };
                for(var i=0; i<data.possibleValues.length;i++){
                    if(data.possibleValues[i].start){
                        var obj = {
                            value:data.possibleValues[i].value,
                        }
                        if(data.possibleValues[i].canDescribe){
                            if(this._data.whytxt){
                                obj.other = this._data.whytxt;                                
                            }else{
                                this.$root.eventHub.$emit("showprompt",{
                                    content:"請詳情說明",
                                });
                                return;
                            }
                        }
                        datas.questions[0].answers.push(obj)                        
                    }
                }
                this.ticket(datas);
            },
            ticket(data){
                var params = {
                    url:"api/project/"+ this.$projectId +"/ticket",
                    type:"post",
                    data:data,
                    success:res=>{
                        console.log(res)
                        var datas = {
                            titel:res.data.responseTitle,
                            contents:res.data.responseMessage
                        }
                        this.$root.eventHub.$emit('showmodal', datas);
                    }
                }
                ajax(params);
            },
            getData(){
                var params = {
                    url:"api/package/direct/"+ this.$path +"/questions",
                    type:"post",
                    data:{
                        purpose:"CANCEL",
                        projectId:this.$projectId,
                        questions:[],
                        pageNum:1,
                    },
                    success:res=>{
                        console.log(res);
                        var data = res.data.questions[0];
                        for(var i=0; i<data.possibleValues.length; i++){
                            data.possibleValues[i].start = false;
                        }
                        this._data.data = data;
                    }
                }
                ajax(params);
            },
            whyBtn(index){
                var list = this._data.data.possibleValues;
                if(!list[index].canDescribe){
                    this._data.whytxt = "";                    
                }
                if(this._data.data.multiple){
                    list[index].start = !list[index].start;                    
                }else{
                    for(var i=0; i<list.length; i++){
                        list[i].start = false;
                    }
                    list[index].start = true;                                        
                }
            }
        }
    }
</script>
