<template>
    <div class="evaluate posit" ref="evaluate">
        <div class="all-box" >
            <div class="evaluate-list" ref="allList">
                <div class="all-itme" v-for="item in listorder" @click="presDeta(item.id)">
                    <div class="itme-title">{{item.categoryLabel}}</div>
                    <div class="itme-text">{{item.address}}</div>
                    <div class="itme-text">{{item.eventDate + ' ' + item.weeks +' ' + item.eventTime}}</div>
                    <div class="itme-foor">
                        <div class="foor-box"> 
                            <div class="foot-text">
                            <span> {{ $t('message.order.complete') }} </span>
                            <i></i> 
                            </div>
                            <div class="foor-btn">
                                <div class="foorBtn" v-on:click.stop="again">{{ $t('message.order.again') }}</div>
                                <div class="foorBtn" @click.stop.prevent="ment(item.id)">{{ $t('message.order.imme') }}</div>                            
                            </div>
                        </div>
                        <div class="prefer">
                            <div class="prefer-icon"></div>
                            <div class="prefer-text">{{ $t('message.order.text') }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loading-pres" v-if="loading">
                <div class="loading-img"></div>
                <div class="loading-text">{{ $t("message.loading") }}...</div>
            </div>
            <div v-else class="app-foor foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        </div>
    </div>
</template>
<script>
    import { ajax, dateFormat, getMonday } from '@/util/util'
    export default {
        name: 'evaluate',
        data() {
            return {
                list:[1,2,3,4,5,6],
                loading:false,
                listorder: [],
                page:0,
                totalPage:0,
                height:"",
                allHeight:"",
                startData :true,             
            };
        },
        mounted(){
            this.init();
            var box = this.$refs.evaluate;
            this._data.allHeight = box.clientHeight;            
            box.addEventListener('scroll', this.handleScroll)   
        },
        methods:{
            init(){
                var params = {
                    url: "api/projectlist?onlyDirect=true&status=NEEDREVIEW&offset="+ this._data.page +"&limit=10",
                    type: "get",
                    success: res => {
                        let array = res.data.projects;
                        for(let i=0; i<array.length; i++){
                            if(array[i].eventDate){
                                array.eventDate = dateFormat(array[i].eventDate,"yyyy年MM月dd日");
                                array[i].weeks = getMonday(array[i].eventDate);
                            }
                            this.listorder.push(array[i]);                            
                        }
                        if(res.data.totalCount > 10 ){
                           this._data.totalPage = Math.floor(res.data.totalCount/10);
                           this._data.loading = true;
                           this._data.height = "";
                            this._data.startData = true;                            
                        }
                        if(this._data.totalPage == this._data.page){
                           this._data.loading = false;
                            this._data.startData = false; 
                        }
                    }
                }
                ajax(params);
            },
            handleScroll(){
                if(!this._data.height){
                    var dom = this.$refs.allList;
                    this._data.height = dom.clientHeight;
                }                      
                var box = this.$refs.evaluate;
                var scrollTop = box.pageYOffset || box.scrollTop 

                if( scrollTop+this._data.allHeight >= this._data.height){
                    if(this._data.totalPage != this._data.page){
                        if(this._data.startData){
                            this._data.page++
                            this.init();
                            this._data.startData = false;                            
                        }
                    }
                }
            },
            presDeta(id){
                this.setProjectId(id);
                this.$router.push({
                    name:'presDeta',
                    params: {lang: this.$i18n.locale},
                })
            },
            ment(id){
                this.setProjectId(id);
                this.$router.push({
                    name:"ment",
                    params: {lang: this.$i18n.locale, aa: "enen"},                    
                })
            },
            again(){
                this.$router.push({
                    name:"about",
                    params: {lang: this.$i18n.locale},                    
                })
            }
        }
    }
</script>