<template>
    <div class="ment posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.ment'),start:true}"></head-top>
        <div class="ment-box">
            <div class="ment-star">
                <div class="ment-item ment-total">
                    <div class="ment-left">
                        <div class="ment-title">{{ $t('message.ment.title.zhong') }}</div>
                        <div class="star-ment">
                            <i class="icon-star icon-star1" :class="total.num>=1?'start':''" @click="totalStar(1)"></i>
                            <i class="icon-star icon-star1" :class="total.num>=2?'start':''" @click="totalStar(2)"></i>
                            <i class="icon-star icon-star1" :class="total.num>=3?'start':''" @click="totalStar(3)"></i>
                            <i class="icon-star icon-star1" :class="total.num>=4?'start':''" @click="totalStar(4)"></i>
                            <i class="icon-star icon-star1" :class="total.num>=5?'start':''" @click="totalStar(5)"></i>                            
                        </div>
                    </div>
                    <div class="ment-right">{{ total.text }}</div>
                </div>
                <div class="ment-list" v-if=" total.num ">
                    <div class="ment-item" v-for="(item,index) in mentList">
                        <div class="ment-left">
                            <div class="ment-title">{{ item.title }}</div>
                            <div class="star-ment">
                                <i class="icon-star icon-star1" :class="item.num>=1?'start':''" @click="itemStar(index ,1)"></i>
                                <i class="icon-star icon-star1" :class="item.num>=2?'start':''" @click="itemStar(index ,2)"></i>
                                <i class="icon-star icon-star1" :class="item.num>=3?'start':''" @click="itemStar(index ,3)"></i>
                                <i class="icon-star icon-star1" :class="item.num>=4?'start':''" @click="itemStar(index ,4)"></i>
                                <i class="icon-star icon-star1" :class="item.num>=5?'start':''" @click="itemStar(index ,5)"></i>                            
                            </div>
                        </div>
                        <div class="ment-right">{{ item.text }}</div>
                    </div>
                </div>
            </div>
            <div class="ment-ping">
                <div class="ping-title">
                    <div class="title-left">
                        <i class="ping-icon"></i>
                        <span>{{ $t('message.ment.title.ping') }}</span>
                    </div>
                    <div class="title-right">{{menttxt.length}}/100</div>
                </div>
                <div class="ping-text">
                    <textarea maxlength="100" :placeholder="$t('message.placeholder.ment')" v-model="menttxt"></textarea>
                </div>
                <div class="ping-list" v-if=" total.num ">
                    <div class="ping-item" v-for="(item, index) in list" @click="addmenttxt(item, index)">
                        <i>+</i>
                        <span>{{ item }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        <div class="btn-box">
            <div class="btn" @click="submitfun">{{ $t('message.btn.mine') }}</div>
        </div> 
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import { ajax, dateFormat, getMonday } from '@/util/util'
    export default {
        name: 'process',
        components:{
            headTop:headTop,
        },
        data() {
            return {
                num:8,
                list:[],
                total:{num:0,text:"",},
                mentList:[
                    {title:this.$t('message.ment.theme.speed'),
                        num:0,
                        text:"",
                    },
                    {
                        title:this.$t('message.ment.theme.clean'),
                        num:0,
                        text:"",
                    },
                    {
                        title:this.$t('message.ment.theme.attitude'),
                        num:0,
                        text:"",
                    },
                ],
                highpraise:this.$t('message.ment.highpraise'),
                badreview:this.$t('message.ment.badreview'),
                menttxt: "",
                suppliers: {},
                projectId: "",
                paramsindex: [],
            };
        },
        watch: {
            menttxt: function(newVal, oldVal){
                // if(newVal==""){
                //     this.list = ["挺好的","准时到达","勤快","友善","态度积极"];
                // }
            }
        },
        mounted(){
            this.init();
        },
        methods:{
            init(){
                this.projectId = this.$projectId;
                var params = {
                    url: "api/review/tags",
                    type: "get",
                    success: res => {
                        this.suppliers = res.data.supplier;
                    }
                }
                ajax(params);
            },
            changeBack(){
                this.$router.back(-1)
            },
            totalStar(num){
                this._data.total.num = num;
                this._data.total.text = this.text(num);
                if(num>=4){
                    if(this.$route.params.lang=="zh-hk"){
                        this.list = this.suppliers.compliments["zh-Hant-HK"];
                    }else{
                        this.list = this.suppliers.compliments.en;
                    }
                }else{
                    if(this.$route.params.lang=="zh-hk"){
                        // console.log(this.suppliers.improvements["zh-Hant-HK"])
                        this.list = this.suppliers.improvements["zh-Hant-HK"];
                    }else{
                        this.list = this.suppliers.improvements.en;
                    }
                }
            },
            itemStar(index,num){
                var mentList = this._data.mentList;
                mentList[index].num = num;
                mentList[index].text = this.text(num);

            },
            text(num){
                var text = "";
                switch(num){
                    case 1:text = this.$t("message.ment.score.not");
                        break;
                    case 2:text = this.$t("message.ment.score.general");                     
                        break;
                    case 3:text = this.$t("message.ment.score.satisfied");                    
                        break;
                    case 4:text = this.$t("message.ment.score.satisfied");                   
                        break;
                    case 5:text = this.$t("message.ment.score.very");                    
                        break;
                }
                return text;
            },
            submitfun(){
                let a = 0;
                var data = {
                    
                }
                for(let i=0;i<this.mentList.length;i++){
                    if(this.mentList[i].num===0){
                        a += 1;
                    }else{
                        data['subRate'+(i+1)] = this.mentList[i].num;
                        data['subRateName'+(i+1)] = this.mentList[i].title;
                    }
                }
                if(this.total.num===0  || this.menttxt=="" || a>0){
                    this.$root.eventHub.$emit('showprompt',{content:"请完成信息"});                    
                }else{
                    data.rate = this.total.num;
                    data.review = this.menttxt;
                    console.log(data)
                    var params1 = {
                        url: "api/project/"+this.projectId+"/review",
                        type: "post",
                        data: data,
                        success: res => {
                            console.log(res);
                            if(this.total.num < 3){
                                this.$root.eventHub.$emit('showmodal',this.badreview);
                            }else{
                                this.$root.eventHub.$emit('showmodal', this.highpraise);
                            }
                        }
                    }
                    ajax(params1);
                }
            },
            addmenttxt(val, index){
                if((this.menttxt + "，"+ val).length <= 100){
                    if(this.menttxt){
                        this.menttxt += "，"+val;                        
                    }else{
                        this.menttxt += val;
                    }
                    // this.list.splice(index,1);
                }
            }
        }
    }
</script>