<template>
    <div class="modify posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.modify'),start:true}"></head-top>
        <div class="modify-box">
            <div class="why">
                <div class="why-title">
                    <i></i>
                    <span>{{ data.label }}</span>
                </div>
                <div class="why-list">
                    <div class="why-item" v-for="(item,index) in whyList" @click="whyBtn(index)">
                        <div class="why-top">
                            <i class="why-icon" :class="item.start?'start':''"></i>
                            <span>{{ item.label }}</span>
                        </div>
                        <div class="why-text" v-on:click.stop v-if="item.canDescribe">
                            <textarea :placeholder="item.label" v-model="whytxt"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modify-date" @click="times">
                <div class="date-left">
                    <i class="date-icon"></i>
                    <span>{{$t('message.modify.timearr')}}</span>
                </div>
                <div class="date-right">{{date.dates}} {{date.week}}，{{date.time}}</div>
            </div>
            <div v-for="item in prices">
            <div class="modify-price" >
                <div class="price-left">{{ item.title }}</div>
                <div class="price-right">${{ item.amount/100 }}</div>
            </div>
            </div>

            <div class="modify-prompt">
                <div class="prompt-title">{{ data.tipTitle }}</div>
                <div class="prompt-text">{{ data.tip }}</div>
            </div>
        </div>

        <div class="app-foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        <div class="btn-box" >
            <div class="btn" @click="modalfun">{{$t('message.btn.submit')}}</div>
        </div>
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import {ajax,getQuestionsItem,dateFormat,getMonday} from "@/util/util";    

    export default {
        name: 'modify',
        components:{
            headTop:headTop,
        },
        data() {
            return {
                num:8,
                list:[1,2,3,4,5],
                modaltxt: {titel:"提交成功", contents:"客服會盡快處理您的更改需求，請耐心等候。"},
                sele: 0,
                whytxt: "",
                whyList:[],
                date:{},
                data:{},
                prices:[],
            };
        },
        mounted(){
            if(JSON.stringify(this.$date) != "{}"){
                var datas = this.$date
                datas.dates = dateFormat(datas.date,"yyyy年MM月dd日");
                this._data.date = datas;
                if(this.$whyText){
                    this._data.whytxt = this.$whyText;
                }
            }else{
               this.$router.back(-1); 
            }
            this.getData();            
        },
        methods:{
            changeBack(){
                this.$router.back(-1);
                this.setWhy([]);
                this.setText("");
                this.setAbout("item",{});
                this.setDate({});            
            },
            times(){
                this.setWhy(this._data.whyList);
                if(this._data.whytxt){
                    this.setWhyText(this._data.whytxt);
                }
                this.$router.push({
                    name:"modifyTime",
                    params: {lang: this.$i18n.locale},                    
                })
            },
            getData(){
                var datas = {
                    purpose:"RESCHEDULE",
                    projectId:this.$projectId,
                    questions:[],
                    pageNum:1,
                }
                if(this.$date.start){                    
                    datas.questions.push({
                        questionNumber:this.$path+'-4',
                        answers:[{value:this._data.date.date + " " + this._data.date.time}]
                    })
                    datas.pageNum = 2;
                }
                var params = {
                    url:"api/package/direct/"+ this.$path +"/questions",
                    type:"post",
                    data:datas,
                    success:res=>{
                        var data = res.data.questions[0];                        
                        if(JSON.stringify(this.$why) != "[]"){
                            this._data.whyList = this.$why;
                        }else{
                            var list = data.possibleValues
                            for(var i=0; i<list.length; i++){
                                data.possibleValues[i].start = false;
                            }
                            this._data.whyList = list;                            
                        }
                        this._data.data = data;

                        if(res.data.prices){
                            this._data.prices = res.data.prices;
                        }
                    }
                }
                ajax(params);
            },
            ticket(data){
                var params = {
                    url:"api/project/"+ this.$projectId +"/ticket",
                    type:"post",
                    data:data,
                    success:res=>{
                        console.log(res)
                        var datas = {
                            titel:res.data.responseTitle,
                            contents:res.data.responseMessage
                        }
                        this.$root.eventHub.$emit('showmodal', datas);
                    }
                }
                ajax(params);
            },
            modalfun(){

                var datas = {
                    action:"RESCHEDULE",
                    questions:[
                        {
                            questionNumber:this.$path+'-4',
                            answers:[{value:this._data.date.date + " " + this._data.date.time}]
                        },
                        {
                            questionNumber:this._data.data.questionNumber,
                            answers:[]
                        }
                    ]
                };
                var whyList = this._data.whyList;
                var start = 0;
                for(var i=0; i<whyList.length;i++){
                    if(whyList[i].start){
                        var obj = {
                            value:whyList[i].value,
                        }
                        if(whyList[i].canDescribe){
                            if(this._data.whytxt){
                                obj.other = this._data.whytxt;                                
                            }else{
                                this.$root.eventHub.$emit("showprompt",{
                                    content:whyList[i].label,
                                });
                                return;
                            }
                        }
                        start++;
                        datas.questions[1].answers.push(obj);                       
                    }
                }
                console.log(!start)
                if(!start){
                    this.$root.eventHub.$emit("showprompt",{
                        content:this.data.label,
                    });
                    return;
                }
                this.ticket(datas);
                // this.$root.eventHub.$emit('showmodal',this.modaltxt);                
            },
            whyBtn(index){
                var list = this._data.whyList;
                
                if(!list[index].canDescribe){
                    this._data.whytxt = "";                    
                }
                if(this._data.data.multiple){
                    list[index].start = !list[index].start;                    
                }else{
                    for(var i=0; i<list.length; i++){
                        list[i].start = false;
                    }
                    list[index].start = true;                                        
                }
                
            }
        }
    }
</script>