<template>
    <div class="ongoing posit" ref="ongoing">
        <div class="all-box" >
            <div class="ongoing-list" ref="allList">
                <div class="all-itme" v-for="item in listorder" @click="presDeta(item.id)">
                    <div class="itme-title">{{item.categoryLabel}}</div>
                    <div class="itme-text">{{item.address}}</div>
                    <div class="itme-text">{{item.eventDate + ' ' + item.weeks +' ' + item.eventTime}}</div>
                    <div class="itme-foor">
                        <div class="foot-text" v-if="item.status=='QUOTING' || item.status=='UNPAID'">{{ $t('message.order.has') }}</div>

                        <div class="foor-box" v-if="item.status=='HIRED'"> 
                            <div class="foot-text">
                            <span> {{ $t('message.order.people') }} </span>
                            <i></i> 
                            </div>
                            <div class="foor-btn">
                                <div class="foorBtn" v-on:click.stop="people(item.supplier.supplierId)">{{ $t('message.order.peopleBtn') }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="loading-pres" v-if="loading">
                <div class="loading-img"></div>
                <div class="loading-text">{{ $t("message.loading") }}...</div>
            </div>
            <div v-else class="app-foor foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        </div>
    </div>
</template>
<script>
    import { ajax, dateFormat, getMonday } from '@/util/util'
    export default {
        name: 'ongoing',
        data() {
            return {
                listorder: [],
                loading:false,
                page:0,
                totalPage:0,
                height:"",
                allHeight:"",
                startData:true,
            };
        },
        mounted(){
            this.init();
            var box = this.$refs.ongoing;
            this._data.allHeight = box.clientHeight;            
            box.addEventListener('scroll', this.handleScroll)   
        },
        methods:{
            init(){
                var params = {
                    url: "api/projectlist?onlyDirect=true&status=INPROCESS&offset=" + this.page + "&limit=10",
                    type: "get",
                    success: res => {
                        let array = res.data.projects;
                        for(let i=0; i<array.length; i++){
                            if(array[i].eventDate){
                                array.eventDate = dateFormat(array[i].eventDate,"yyyy年MM月dd日");
                                array[i].weeks = getMonday(array[i].eventDate);
                            }
                            this.listorder.push(array[i]);                            
                        }
                        if(res.data.totalCount > 10 ){
                           this._data.totalPage = Math.floor(res.data.totalCount/10);
                           this._data.loading = true;
                           this._data.height = "";
                            this._data.startData = true;                                                       
                        }
                        if(this._data.totalPage == this._data.page){
                           this._data.loading = false;
                            this._data.startData = false;                                                       
                        }
                    }
                }
                ajax(params);
            },
            handleScroll(){
                if(!this._data.height){
                    var dom = this.$refs.allList;
                    this._data.height = dom.clientHeight;
                }                      
                var box = this.$refs.ongoing;
                var scrollTop = box.pageYOffset || box.scrollTop 

                if( scrollTop+this._data.allHeight >= this._data.height){
                    if(this._data.totalPage != this._data.page){
                        if(this._data.startData){
                            this._data.page++
                            this.init();
                            this._data.startData = false;                            
                        }
                    }
                }
            },
            presDeta(id){
                this.setProjectId(id);
                this.$router.push({
                    name:"presDeta",
                    params: {lang: this.$i18n.locale, projectId: id},                    
                }) 
            },
            people(id){
                this.setSupplierId(id);
                this.$router.push({
                    name:"people",
                    params: {lang: this.$i18n.locale, supplierId:id},                    
                })
            },
        }
    }
</script>