<template>
    <div class="payment posit" ref="payment">
        <div class="all-box">
            <div class="payment-list" ref="allList">
                <div class="all-itme" v-for="item in listorder" @click="presDeta(item.id)">
                    <div class="itme-title">{{item.categoryLabel}}</div>
                    <div class="itme-text">{{item.address}}</div>
                    <div class="itme-text">{{item.eventDate + ' ' + item.weeks +' ' + item.eventTime}}</div>
                    <div class="itme-foor">
                        <div class="foor-box"> 
                            <div class="foot-text">
                            <span> {{ $t('message.order.increase') }} </span>
                            <i></i> 
                            </div>
                            <div class="foor-btn">
                                <div class="foorBtn">{{ $t('message.order.payment') }}</div>                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loading-pres" v-if="loading">
                <div class="loading-img"></div>
                <div class="loading-text">{{ $t("message.loading") }}...</div>
            </div>
            <div v-else class="app-foor foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        </div>
    </div>
</template>
<script>
    import { ajax, dateFormat, getMonday } from '@/util/util'
    export default {
        name: 'payment',
        data() {
            return {
                listorder: [],
                page:0,
                totalPage:0,
                height:"",
                allHeight:"",
                loading:false,
                startData:true,
            };
        },
        mounted(){
            this.init();
            var box = this.$refs.payment;
            this._data.allHeight = box.clientHeight;            
            box.addEventListener('scroll', this.handleScroll)  
        },
        methods:{
            init(){
                var params = {
                    url: "api/projectlist?onlyDirect=true&status=UNPAID&offset="+ this._data.page +"&limit=10",
                    type: "get",
                    success: res => {
                        if(res.data.totalCount){
                            let array = res.data.projects;
                            for(let i=0; i<array.length; i++){
                                if(array[i].eventDate){
                                    array.eventDate = dateFormat(array[i].eventDate,"yyyy年MM月dd日");
                                    array[i].weeks = getMonday(array[i].eventDate);
                                }
                                this.listorder.push(array[i]);                            
                            }
                            if(res.data.totalCount > 10 ){
                                this._data.totalPage = Math.floor(res.data.totalCount/10);
                                this._data.loading = true;
                                this._data.height = "";
                                this._data.startData = true;                                                                                    
                            }
                            if(this._data.totalPage == this._data.page){
                                this._data.loading = false;
                                this._data.startData = false;                                                        
                            }
                        }else{
                            this.listorder = [];
                        }
                        
                    }
                }
                ajax(params);
            },
            handleScroll(){
                if(!this._data.height){
                    var dom = this.$refs.allList;
                    this._data.height = dom.clientHeight;
                }                      
                var box = this.$refs.evaluate;
                var scrollTop = box.pageYOffset || box.scrollTop 

                if( scrollTop+this._data.allHeight >= this._data.height){
                    if(this._data.totalPage != this._data.page){
                         if(this._data.startData){
                            this._data.page++
                            this.init();
                            this._data.startData = false;                            
                        }
                    }
                }
            },
            presDeta(id){
                this.setProjectId(id);
                this.$router.push({
                    name:'presDeta',
                    params: {lang: this.$i18n.locale},
                })
            },
        }
    }
</script>