<template>
    <div class="people posit" ref="people">
        <div class="people-stat" ref="allList">
            <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.people'),start:true}"></head-top>
            <div class="people-box" >
                <div class="people-top">
                    <div class="people-title">
                        <div class="people-icon">
                            <img :src="peoples.logoUrl" alt="">
                        </div>
                        <div class="people-user">
                            <div class="user-name">{{peoples.name}}</div>
                            <div class="user-nun">{{$t('message.personnel.service')}}{{peoples.hiredTimes}}{{$t('message.personnel.times')}}</div>
                            <div class="user-star">
                                <i class="icon-star" :class="peoples.rate>=1?'start':''" ></i>
                                <i class="icon-star" :class="peoples.rate>=2?'start':''" ></i>
                                <i class="icon-star" :class="peoples.rate>=3?'start':''" ></i>
                                <i class="icon-star" :class="peoples.rate>=4?'start':''" ></i>
                                <i class="icon-star" :class="peoples.rate>=5?'start':''" ></i>                            
                            </div>
                        </div>
                    </div>
                    <div class="people-text">{{peoples.description}}</div>
                    <div class="people-phone">{{$t('message.personnel.callser')}}</div>
                </div>
                <div class="ment-title" v-if="list.length">{{$t('message.personnel.usercomt')}}</div>
                <div class="ment-list">
                    <div class="ment-itme" v-for="item in list">
                        <div class="item-title">{{item.reviewerName}}</div>
                        <div class="ment-vice">
                            <div class="vice-icon">
                                <i class="icon-star" :class="item.rate>=1?'start':''" ></i>
                                <i class="icon-star" :class="item.rate>=2?'start':''" ></i>
                                <i class="icon-star" :class="item.rate>=3?'start':''" ></i>
                                <i class="icon-star" :class="item.rate>=4?'start':''" ></i>
                                <i class="icon-star" :class="item.rate>=5?'start':''" ></i>
                            </div>
                            <div class="vice-time">{{item.created}}</div>
                        </div>
                        <div class="ment-time">{{item.categoryLabel}} | {{$t('message.personnel.hours')}}</div>
                        <div class="ment-text">{{item.review}}</div>
                    </div>
                </div>
            </div>
            <div class="loading-pres" v-if="loading">
                <div class="loading-img"></div>
                <div class="loading-text">{{ $t("message.loading") }}...</div>
            </div>
            <div v-else class="app-foor foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
        </div>             
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import { ajax, dateFormat } from '@/util/util';
    export default {
        name: 'people',
        components:{
            headTop:headTop,
        },
        data() {
            return {
                list:[],
                peoples: {},
                supplierId: "",
                page:0,
                height:"",
                allHeight:"",
                loading:false,
                totalPage:1,
                startData:true,
            };
        },
        mounted(){
            this.init();
            this.review();
            var box = this.$refs.people; 
            this._data.allHeight = box.clientHeight;
            box.addEventListener('scroll', this.handleScroll)
        },
        methods:{
            init(){
                var params = {
                    url: "api/supplier/"+this.$supplierId,
                    type: 'get',
                    success: res => {
                        
                        this.peoples = res.data;
                    }
                }
                ajax(params);
            },
            review(){
                var params ={
                    url:"api/supplier/"+ this.$supplierId +"/reviews?offset="+ this.page +"&limit=10",
                    type:"get",
                    success:res=>{
                        if(res.data.reviewTimes){
                            var list = res.data.reviews;
                            for(let i=0; i<list.length; i++){
                                if(list[i].created){
                                    list[i].created = dateFormat(list[i].created, "yyyy年MM月dd日");
                                }
                                this._data.list.push(list[i])
                            }
                            if(res.data.reviewTimes > 10 ){
                            this._data.totalPage = Math.floor(res.data.reviewTimes/10);
                            this._data.loading = true;
                            this._data.height = "";
                            this._data.startData = true;
                            }
                            if(this._data.totalPage == this._data.page){
                            this._data.loading = false;
                            this._data.startData = false;                           
                            }
                        }else{
                            this._data.list = [];
                        }
                    }
                }
                if(this._data.page != 0){
                    params.loading = false                
                }
                ajax(params);
            },
            handleScroll(){
                
                if(!this._data.height){
                    var dom = this.$refs.allList;
                    this._data.height = dom.clientHeight;
                }                      
                var box = this.$refs.people;
                var scrollTop = box.pageYOffset || box.scrollTop 

                if( scrollTop+this._data.allHeight >= this._data.height){
                    if(this._data.totalPage != this._data.page){
                        if(this._data.startData){
                            this._data.page++
                            this.review();
                            this._data.startData = false;                                                       
                        }                        
                    }
                }
            },
            changeBack(){
                this.$router.back(-1)
            },
        }
    }
</script>