<template>
    <div class="pres">
        <head-top @backClick="changeBack" v-bind:data="{title:$t('message.head.pre'),start:true}"></head-top>
        <div class="pres-tab">
            <div class="pres-list">
                <div class="pres-item" :class="current == 'all'?'start':''" @click="tabClick('all')" >{{ $t('message.pre.all') }}<i class="status-icon" v-if="total"></i> <i class="botm"></i> </div>
                <div class="pres-item" :class="current == 'payment'?'start':''" @click="tabClick('payment')" >{{ $t("message.pre.payment") }}<i class="status-icon" v-if="statusicon.unpaid"></i> <i class="botm"></i></div>
                <div class="pres-item" :class="current == 'ongoing'?'start':''" @click="tabClick('ongoing')" >{{ $t("message.pre.ongoing") }}<i class="status-icon" v-if="statusicon.inprocess"></i> <i class="botm"></i></div>
                <div class="pres-item" :class="current == 'evaluate'?'start':''" @click="tabClick('evaluate')" >{{ $t("message.pre.evaluate") }}<i class="status-icon" v-if="statusicon.needReview"></i> <i class="botm"></i></div>
            </div>
            <prince :is="current" keep-alive></prince>
        </div>
        <!--<div class="app-foor foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>      -->  
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import all from "./all";
    import payment from "./payment";
    import ongoing from "./ongoing";
    import evaluate from "./evaluate";
    export default {
        name: 'pres',
        data() {
            return {
                current: 'all',
                statusicon: {},
                total:"",
            };
        },
        components:{
            headTop:headTop,
            all:all,
            payment:payment,
            ongoing:ongoing,
            evaluate:evaluate,
        },
        mounted(){
            if(this.$presTab){
                this._data.current = this.$presTab;
            }
            this.statusicon = this.$statusicon;
            this.total = this.totalStart(this.statusicon);            
        },
        methods:{
            changeBack(){
                this.$router.push({
                    name:"index",
                    params:{lang:this.$i18n.locale}                    
                })
            },
            tabClick(tab){
                switch(tab){
                    case 'payment': 
                        // this.setStatusicon('unpaid',false);
                        this.statusicon.unpaid = false;
                        break;
                    case 'ongoing': 
                        // this.setStatusicon('inprocess',false);
                        this.statusicon.inprocess = false;
                        break;
                    case 'evaluate': 
                        // this.setStatusicon('needReview',false);
                        this.statusicon.needReview = false;
                        break;
                }
                this.total = this.totalStart(this.statusicon);            
                
                this._data.current = tab;
                this.setPresTab(tab);
            },
            totalStart(obj){
                console.log(obj)
                for(let item  in obj){
                    if(obj[item]){
                        return true;
                    }
                }
                return false;	
            }
        },
        
    }
</script>