<template>
    <div class="presDeta posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.detail'),start:true}"></head-top>
        <div class="presDeta-box">
            <div class="presDeta-img" :class="setBgimg" @click="record">
                <div class="presDeta-imgbox">
                    <div class="pres-status">{{setStatus}}</div>
                    <div class="pres-times" v-if="onepres.status=='CANCELLED'">{{$t('message.presdeta.changeday')}}</div>
                    <div class="pres-record" @click.stop="record"><i></i>{{ $t('message.order.record') }}</div>
                </div>
            </div>
            <div class="presDeta-people" v-show="onepres.status!='UNPAID'&&onepres.status!='QUOTING'">
                <div class="people" @click="people(supplier.supplierId)">
                    <div class="people-left">
                        <div class="people-icon"></div>
                        <div class="people-text">
                            <!-- <i class="people-nameimg"></i> -->
                            <div class="people-name">{{ $t('message.about.people') }}：{{supplier.name}}</div>
                            <div class="people-star">
                                <i class="icon-star" :class="num >= 1?'start':''"></i>
                                <i class="icon-star" :class="num >= 2?'start':''"></i>
                                <i class="icon-star" :class="num >= 3?'start':''"></i>
                                <i class="icon-star" :class="num >= 4?'start':''"></i>
                                <i class="icon-star" :class="num >= 5?'start':''"></i>                                
                            </div>
                        </div>
                    </div>
                    <div class="people-right icon-right"></div>
                </div>
                <div class="people-phone">{{$t('message.personnel.callser')}}</div>
            </div>
            <div class="presDeta-content">
                <div class="content-title">{{onepres.categoryLabel}}</div>
                <div class="content-item" v-for="item in onepres.questions">
                    <div class="item-title" v-if="item.questionNumber==paths+'-1'">{{ $t('message.about.addre') }} :</div>
                    <div class="item-text" v-if="item.questionNumber==paths+'-1'">{{item.answers[0].label}}</div>
                    <div class="item-title" v-if="item.questionNumber==paths+'-2'">{{ $t('message.about.area') }} :</div>
                    <div class="item-text" v-if="item.questionNumber==paths+'-2'">{{item.answers[0].label}}</div>
                    <div class="item-title" v-if="item.questionNumber==paths+'-3'">{{ $t('message.about.num') }} :</div>
                    <div class="item-text" v-if="item.questionNumber==paths+'-3'">{{item.answers[0].value}}{{ $t('message.about.hours') }}</div>
                    <div class="item-title" v-if="item.questionNumber==paths+'-4'">{{ $t('message.about.time') }} :</div>
                    <div class="item-text" v-if="item.questionNumber==paths+'-4'">{{item.answers[0].value}}</div>
                    <div class="item-title" v-if="item.questionNumber==paths+'-5'">{{ $t('message.about.additional') }} :</div>
                    <div class="item-text" v-if="item.questionNumber==paths+'-5'" v-for="ite in item.answers">{{ite.label}}</div>
                    <div class="item-title" v-if="item.questionNumber==paths+'-6'">{{ $t('message.about.note') }} :</div>
                    <div class="item-text" v-if="item.questionNumber==paths+'-6'">{{item.answers[0].value || '無備註信息'}}</div>
                    <div class="item-title" v-if="item.questionNumber==paths+'-7'">{{ $t('message.about.situation') }} :</div>
                    <div class="item-text" v-if="item.questionNumber==paths+'-7'"><span v-for="ite in item.answers">{{ite.label}}、</span></div>
                    <div class="item-title" v-if="item.questionNumber==paths+'-9'">{{ $t('message.about.people') }} :</div>
                    <div class="item-text" v-if="item.questionNumber==paths+'-9'">{{item.answers[0].label}}</div>
                </div>
                <div class="content-btn" @click="process">{{$t('message.head.process')}}</div>
            </div>
            <div class="presDeta-price" v-if="bills!=''">
                <div class="price-title">{{$t('message.about.detail')}}</div>
                <div class="price-list">
                    <div class="price-itme" v-if="bills.details" v-for="(item, index) in bills.details">
                        <div class="price-text" v-if="(index+1)===1">{{item.itemName}}-{{item.rateBasisValue}}小時</div>
                        <div class="price-text" v-else >{{item.itemName}}</div>
                        <div class="price-num">${{item.amount}}</div>
                    </div>
                </div>
                <div class="price-total" v-if="bills.status=='PAID'">{{$t('message.order.has')}}：{{bills.price}}</div>
                <div class="price-total" v-if="bills.status=='WAIT_FOR_PAY'">{{$t('message.presdeta.needpay')}}：{{bills.price}}</div>
                <div class="price-total" v-if="bills.status=='REFUND'">{{$t('message.presdeta.hasreful')}}：$410</div>
            </div>
            <div class="presDeta-order" v-if="bills.status=='PAID'">
                <div class="order-item">
                    <div class="order-title">{{$t('message.presdeta.termspay')}}</div>
                    <div class="order-text">{{paymentMethod}}</div>
                </div>
                <div class="order-item">
                    <div class="order-title">{{$t('message.presdeta.termspay')}}</div>
                    <div class="order-text">{{ bills.payment.paymentDate }}</div>
                </div>
                <div class="order-item">
                    <div class="order-title">{{$t('message.presdeta.orderpay')}}</div>
                    <div class="order-text">{{ bills.payment.outBizNo }}</div>
                </div>
            </div>
            <!-- <div class="presDeta-order" v-else-if="bills.status=='REFUND'">

            </div> -->
            <div class="presDeta-btn">
                <div class="presDetaBtn" v-if="setBtnbool==1" @click="modify">{{ $t('message.order.modify') }}</div>
                <div class="presDetaBtn" v-if="setBtnbool==1" @click="cancel">{{ $t('message.order.cancel') }}</div>
                <div class="presDeta-cell" v-if="setBtnbool==2">{{ $t('message.order.customer') }}</div>
                <div class="presDeta-red" v-if="setBtnbool==2">
                    <div class="presDetaRed" @click="again">{{ $t("message.order.again") }}</div>
                    <div class="presDetaRed" @click="ment">{{ $t("message.order.imme") }}</div>                    
                </div>                
                <div class="presDeta-red"  v-if="setBtnbool==3">
                    <div class="presDetaRed width" @click="again">{{ $t("message.order.again") }}</div>                    
                </div>
                <div class="presDeta-red"  v-if="setBtnbool==4">
                    <div class="presDetaRed width">{{ $t("message.order.payment") }}</div>                    
                </div>
                <div class="presDeta-complaints" v-if="setBtnbool==5">{{ $t('message.order.complaints') }} </div>
            </div>
        </div>
        <div class="app-foor foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import { ajax, dateFormat, getMonday } from '@/util/util'
    export default {
        name: 'presDeta',
        data() {
            return {
                num:0,
                projectId: "",
                onepres: {},
                supplier: {},
                additional: {},
                notecontent: "",
                bills: [],
                duration:{},
            };
        },
        components:{
            headTop:headTop,
        },
        computed: {
            setStatus(){
                let val = this.onepres.status;
                let status = "";
                switch(val){
                    case 'QUOTING':
                        status = this.$t('message.presdeta.status.quoting');
                        break;
                    case 'HIRED':
                        status =  this.$t('message.presdeta.status.hired');
                        break;
                    case 'DONE':
                        status =  this.$t('message.presdeta.status.done');
                        break;
                    case 'CANCELLED':
                        status =  this.$t('message.presdeta.status.cancelled');
                        break;
                    case 'UNPAID':
                        status =  this.$t('message.pre.payment');
                        break;
                }
                return status;
            },
            setBgimg(){
                let val = this.onepres.status;
                let status = "";
                switch(val){
                    case 'QUOTING':
                        status = 'quoting-img';
                        break;
                    case 'HIRED':
                        status =  'hired-img';
                        break;
                    case 'DONE':
                        status =  'done-img';
                        break;
                    case 'CANCELLED':
                        status =  'cancelled-img';
                        break;
                    case 'UNPAID':
                        status =  'quoting-img';
                        break;
                }
                return status;
            },
            paymentMethod(){
                let val = this.bills.payment.paymentMethod;
                let status = "";
                switch(val){
                    case 'ALIPAY':
                        status = this.$t('message.presdeta.payment.alipay');
                        break;
                    case 'STRIPE':
                        status = this.$t('message.presdeta.payment.stripe');
                        break;
                    case 'CASH':
                        status = this.$t('message.presdeta.payment.cash');
                        break;
                    case 'BANK_TRANSFER':
                        status = this.$t('message.presdeta.payment.bank');
                        break;
                    case 'OTHER':
                        status = this.$t('message.presdeta.payment.other');
                        break;
                }
                return status;
            },
            setBtnbool(){
                if(this.onepres.status=="QUOTING"||this.onepres.status=="HIRED"){//已付款，已匹配，狀態一
                    return 1;
                }else if(this.onepres.status=="DONE"){//服務完成,狀態二
                    return 2;
                }else if(this.onepres.status=="RATED"){//已評價,狀態三
                    return 3;
                }else if(this.onepres.status=="UNPAID"){//待支付，狀態四
                    return 4;
                }else{
                    return 5;
                }
            }
        },
        mounted(){
            this.projectId = this.$projectId;
            this.paths = this.$path;
            this.init();
        },
        methods:{
            init(){
                var params = {
                    url: "api/project/"+this.projectId,
                    type: "get",
                    success: res => {
                        let ones = res.data;
                        if(res.data.eventDate){
                            ones.weeks = getMonday(res.data.eventDate);
                            ones.date = dateFormat(res.data.eventDate, "yyyy年MM月dd日");
                        }
                        
                        ones.duration = parseInt(ones.duration);
                        for(let i=0; i<ones.questions.length; i++){
                            if(ones.questions[i].questionNumber == this.$path+"-4"){
                                let date = "";
                                if(ones.questions[i].answers[0].value){
                                    let str = ones.questions[i].answers[0].value.split("  ");
                                    let da1 = dateFormat(str[0], "yyyy年MM月dd日");//日期
                                    let da2 = getMonday(str[0]);//星期
                                    let da3 = str[1];
                                    date = da1 + " " + da2 + " " + da3;
                                }
                                ones.questions[i].answers[0].value = date;
                            }
                            if(ones.questions[i].questionNumber ==  this.$path+"-5"){
                                this.additional = ones.questions[i];
                            }else if(ones.questions[i].questionNumber == this.$path+"-6"){
                                // console.log(ones.questions[i].answers[0].value);
                                if(ones.questions[i].answers[0]){
                                    this.notecontent = ones.questions[i].answers[0].value;
                                }
                            }else if(ones.questions[i].questionNumber == this.$path+"-3"){
                                this._data.duration = ones.questions[i];
                            }
                        }
                        this.onepres = ones;
                        if(res.data.supplier){
                            this.supplier = res.data.supplier;
                            this.num = res.data.supplier.rate;
                        }
                        if(res.data.bills){
                            this.bills = res.data.bills[0];
                        }
                    }
                }
                ajax(params);
            },
            changeBack(){
                this.setProjectId("");
                this.$router.back(-1)
            },
            people(id){
                this.setSupplierId(id);
                this.$router.push({
                    name:'people',
                    params: {lang: this.$i18n.locale},
                })
            },
            process(){
                this.$router.push({
                    name:'process',
                    params: {lang: this.$i18n.locale},
                })
            },
            cancel(){
                this.$router.push({
                    name:"cancel",
                    params: {lang: this.$i18n.locale},                    
                })
            },
            modify(){
                this.setAbout("time",this.duration);
                console.log(this.onepres) 
                this.setDate({
                    date:this.onepres.eventDate,
                    week:this.onepres.weeks,
                    time:this.onepres.eventTime,
                    start:false,
                })
                this.$router.push({
                    name:"modify",
                    params: {lang: this.$i18n.locale},                    
                })
            },
            ment(){
                this.$router.push({
                    name:"ment",
                    params:{lang:this.$i18n.locale},
                })
            },
            record(){
                this.$router.push({
                    name:"record",
                    params:{lang:this.$i18n.locale},
                })
            },
            again(){
                this.$router.push({
                    name:"about",
                    params: {lang: this.$i18n.locale},                    
                })
            }
        }
    }
</script>
