<template>
    <div class="process posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:listTitle,start:true}"></head-top>
        <div class="process-box">
            <div class="process-prompt">{{text}}</div>
            <div class="process-list">
                <div class="process-itme" v-for="(item, index) in listicon">
                    <div class="process-title">
                        <div class="process-icon" :class="setClass('process-icon', index)"></div>
                        <div class="title-text">{{item.title}}</div>
                    </div>
                    <div class="process-text" v-for="ite in item.listitem">
                        <i></i>
                        <span>{{ite}}</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="app-foor foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
    </div>
</template>
<script>
    import headTop from "../../components/headTop";

    export default {
        name: 'process',
        components:{
            headTop:headTop,
        },
        data() {
            return {
                listTitle:"",
                listicon: [
                    {title: "客飯廳",listitem:["抹所有櫃子及桌子表面；","抹傢俬及沙發表面；","抹內窗；","掃地及拖地；","更換垃圾袋；","清潔牆磚的污跡或油跡"]},
                    {title: "睡房",listitem:["換床單、枕頭袋、被舖；","抹所有櫃子及桌子表面；","抹內窗及窗台；","抹睡房門；","掃地及拖地；","更換垃圾袋"]},
                    {title: "廚房",listitem:["抹爐頭表面；","抹雪櫃表面；","抹廚櫃表面；","清潔鋅盤及水龍頭；","清洗抽油煙機爐綱（客人需自行拆）；","清潔牆磚的污跡及油跡；","抹廚房門；","掃地及拖地；","更換垃圾袋"]},
                    {title: "洗手間",listitem:["清洗浴缸、企缸；","清洗馬桶；","清洗洗手盤及水龍及；","抹鏡子；","抹牆身污跡；","抹洗手間門；","掃地及拖地；","更換垃圾袋。"]},
                ],
                text:"",
            };
        },
        created(){
            var data = JSON.parse(window.sessionStorage.data);
            var list = data.cleaning_step;
            for(var i=0; i<list.length; i++){
                list[i].listitem = list[i].description.split("；");
            }
            this._data.listicon = list;
            this._data.listTitle = data.cleaning_step_header;
            this._data.text = data.cleaning_step_footer;
        },
        mounted(){
            
        },
        methods:{
            changeBack(){
                this.$router.back(-1)
            },
            setClass(val, index){
                return val + (index + 1);
            }
        }
    }
</script>