<template>
    <div class="record posit">
        <head-top  @backClick="changeBack" v-bind:data="{title:$t('message.head.record'),start:true}"></head-top>
        <div class="record-box">
            <div class="record-list">
                <div class="record-item " :class="index===0?'start':''" v-for="(item,index) in list">
                    <div class="record-line" v-if="!item.endPoint"></div>
                    <div class="record-text">
                        <div class="record-title">
                            <i class="record-point" :class="item.endPoint?'start':''"></i> 
                            <span>{{ item.label }}</span>
                        </div>
                        <div class="record-time" v-if="item.subLabel">{{ item.subLabel }}</div>                        
                        <div class="record-time">{{ item.eventDate }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-foor foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import { ajax, dateFormat, getMonday } from '@/util/util'
    export default {
        name: 'record',
        components:{
            headTop:headTop,
            projectId: "",
        },
        data() {
            return {
                list:[1,2,3,4,5]
            };
        },
        mounted(){
            this.init();
        },
        methods:{
            changeBack(){
                this.$router.back(-1)
            },
            init(){
                var params = {
                    url:"api/project/"+ this.$projectId+"/events",
                    type:"get",
                    success:res=>{
                        // console.log(res);
                        this._data.list = res.data.events;
                    }
                }
                ajax(params);
            }
        }
    }
</script>