<template>
    <div class="detail posit" ref="detail">
        <div class="detail-stat">
        <head-top @preClick="changePre" v-bind:data="{title:datas.page_title,start:false,right:true}"></head-top>
        <div class="detail-box">
            <div class="swiper-container swiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img :src="datas.banner_image" alt="">
                    </div>
                </div>
                <div class="swiper-pagination pagination1"></div>
            </div>
            <div class="top">
                <div class="top-left">{{datas.product_name }}</div>
                <div class="top-right">{{ datas.price }}</div>
            </div>
            <div class="eval">
                <div class="detali-title">
                    <span class="title-icon"></span>
                    <span>{{datas.review_header}}</span>
                </div>
                <div class="swiper-container swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="item in datas.review">
                            <div class="swiper-box">
                                <div class="box-title">{{ item.reviewer }}</div>
                                <div class="box-vice">
                                    <div class="vice-icon">
                                        <i class="icon-star" :class="item.review_rate>=1?'start':''"></i>
                                        <i class="icon-star" :class="item.review_rate>=2?'start':''"></i>
                                        <i class="icon-star" :class="item.review_rate>=3?'start':''"></i>
                                        <i class="icon-star" :class="item.review_rate>=4?'start':''"></i>
                                        <i class="icon-star" :class="item.review_rate>=5?'start':''"></i>                                        
                                    </div>
                                    <div class="vice-time">2018年7月19日</div>
                                </div>
                                <div class="box-time">{{ item.review_product }}</div>
                                <div class="box-text">{{ item.review_content }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="additional">
                <div class="detali-title">
                    <span class="title-icon"></span>
                    <span>{{ datas.extra_charge_header }}</span>
                </div>
                <div class="additional-list">
                    <div class="additional-title">{{ datas.extra_charge_section_title }}</div>
                    <div class="additional-item" v-for="item in datas.extra_charge">
                        <div class="additional-left">{{ item.title }}</div>
                        <div class="additional-right">{{ item.description }}</div>
                    </div>
                </div>
                <div class="detail-text" v-for="item in textList">{{item}}</div>
                <!--<div class="detail-text">{{detailstxt2}}</div>    -->            
            </div>
            <div class="process-content">
                <div class="detali-title">
                    <span class="title-icon"></span>
                    <span>{{ datas.cleaning_step_header }}</span>
                </div>
                <div class="process-list">
                    <div class="process-item" v-for="(item, index) in datas.cleaning_step">
                        <div class="process-top">
                            <div class="process-icon" :class="'process-icon'+(index+1)"></div>
                            <div class="process-title">{{item.title}}</div>
                        </div>
                        <div class="process-text">{{item.description}}</div>
                    </div>
                </div>
                <div class="detail-text">{{datas.cleaning_step_footer}}</div>                                
            </div>
            <div class="more door-box">
                <div class="detali-title">
                    <span class="title-icon"></span>
                    <span>{{ datas.more_service_header }}</span>
                </div>
                <div class="title-list">
                    <div class="title-item" v-for="item in datas.more_service" @click="moreSer(item.link.packageid)">
                        <div class="item-left">
                            <div class="item-iocn" :style="item.link.banner_image?('background-image:url('+item.link.banner_image+')'):''"></div>
                            <div class="item-content">
                                <p class="item-title">{{ item.link.product_name }}</p>
                                <p class="item-text">{{ item.link.price }}</p>
                            </div>
                        </div>
                        <div class="item-right icon-right"></div>
                    </div>
                </div>
            </div>
            <div class="advantage">
                <div class="detali-title">
                    <span class="title-icon"></span>
                    <span>{{ datas.benefit_header }}</span>
                </div>
                <div class="advantage-list">
                    <div class="advantage-itme" v-for="(item, index) in datas.benefit">
                        <div class="advantage-icon" :class="'advantage-icon'+(index+1)"></div>
                        <div class="advantage-title">{{item.label}}</div>
                    </div>
                </div>
            </div>
            <div class="security">
                <div class="detali-title">
                    <span class="title-icon"></span>
                    <span>{{ datas.safety_header }}</span>
                </div>
                <div class="security-list">
                    <div class="security-itme" v-for="item in datas.safety">
                        <div class="security-top">
                            <div class="security-icon"></div>
                            <div class="security-title">{{item.title}}</div>
                        </div>
                        <div class="security-text">{{item.description}}</div>
                    </div>
                </div>
            </div>
            <div class="problem">
                <div class="detali-title">
                    <span class="title-icon"></span>
                    <span>{{ datas.faq_header }}</span>
                </div>
                <div class="problem-list">
                    <div class="problem-item" v-for="item in datas.faq">
                        <div class="problem-title">{{item.title}}</div>
                        <div class="problem-text">{{item.answer}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-foor">Powered by <span>hellotoby<i class="toby-icon"></i></span> </div>

        <div class="btn-box">
            <div class="btn" @click="about">{{ datas.call_to_action_button_label }}</div>
        </div>
        </div>        
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import Swiper from 'swiper';
    import {ajax,getQuestions} from "@/util/util";
       
    export default {
        name: 'detail',
        components:{
            headTop:headTop,
        },
        data () {
            return {
                title:"",
                list:[],
                listicon: [],
                securitylist: [],
                problemlist: [],
                datas:{},
                textList:[],
            }
        },
        mounted(){
            // 获取数据
            this.getData();
            this.title = this.$route.query.title;
        },
        methods:{
            //获取cms
            getData(){
                var params = {
                    url:"cms/prismic/alipay/direct-service?packageId="+ this.$path+"&&locale=zh-hk&refresh=true",
                    type:"get",
                    success:res=>{
                        console.log(res);
                        this.datas = res.result;
                        // 存入storage
						window.sessionStorage.setItem('data',JSON.stringify(res.result))
                        this.textList = res.result.extra_charge_footer.split("\n\n")
                        setTimeout(()=>{
                            // 数据渲染完成后开启评价滑动
                            var swiper = new Swiper('.swiper2', {
                                slidesPerView: 1.25,
                                paginationClickable: true,
                                spaceBetween: 10,
                                freeMode: true
                            });
                        },100)
                    }
                }
                ajax(params);
            },
            // 立即预约
            about(){
                this.$router.push({
                    name:"about",
                    params: {lang: this.$i18n.locale},                    
                })
            },
            // 我的预约
            changePre(){
                this.$router.push({
                    name:"pres",
                    params: {lang: this.$i18n.locale},                    
                })
            },
            //更多服务跳转 
            moreSer(id){
                this.setPath(id);
                this.getData();
                var box = this.$refs.detail;
                box.scrollTop = 0;
            }
        }
    }
</script>