<template>
    <div class="door posit">
        <head-top v-bind:data="{title:$t('message.head.index'),start:false}"></head-top>
        <div class="door-box">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://meng-lejia.oss-cn-hangzhou.aliyuncs.com/meishifenge/1_1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://meng-lejia.oss-cn-hangzhou.aliyuncs.com/meishifenge/1_2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://meng-lejia.oss-cn-hangzhou.aliyuncs.com/meishifenge/1_3.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="iocnList">
                <div class="iocnItem" @click="rounte('message.index.fuwu')">
                    <div class="iocn-icon"></div>
                    <div class="icon-text">{{ $t('message.index.fuwu') }}</div>
                </div>
                <div class="iocnItem" @click="rounte('message.index.wxanz')">
                    <div class="iocn-icon"></div>
                    <div class="icon-text"> {{ $t("message.index.wxanz") }} </div>
                </div>
                <div class="iocnItem" @click="rounte('message.index.xiyi')">
                    <div class="iocn-icon"></div>
                    <div class="icon-text">{{ $t("message.index.xiyi") }}</div>
                </div>
                <div class="iocnItem" @click="rounte('message.index.mei')">
                    <div class="iocn-icon"></div>
                    <div class="icon-text">{{ $t("message.index.mei") }}</div>
                </div>
            </div>
            <div class="icon-bg"></div>

            <div class="door-list">
                <div class="door-item" v-for="item in list">
                    <div class="door-title"> 
                        <span class="title-icon"></span> 
                        <span> {{ $t(item.title) }} </span>
                    </div>
                    <div class="title-list">
                        <div class="title-item" v-for="ite in item.doc" @click="details('message.title')">
                            <div class="item-left">
                                <div class="item-iocn">{{ ite.icon }}</div>
                                <div class="item-content">
                                    <p class="item-title">{{ ite.title }}</p>
                                    <p class="item-text">{{ ite.text }}</p>
                                </div>
                            </div>
                            <div class="item-right icon-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-foor">Powered by <span>hellotoby</span> </div>
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import Swiper from 'swiper'; 
    export default {
        name: 'door',
        components:{
            headTop:headTop,
        },
        data () {
            return {
                title:"" ,
                list:[
                    {
                        title: 'message.index.fuwu',
                        doc:[
                            {
                                icon:"",
                                title:"日常清理",
                                text:"$130/小时起"
                            },
                            {
                                icon:"",
                                title:"日常清理",
                                text:"$130/小时起"
                            },
                            {
                                icon:"",
                                title:"日常清理",
                                text:"$130/小时起"
                            }
                        ]
                    },
                    {
                        title: "message.index.wxanz",
                        doc:[
                            {
                                icon:"",
                                title:"日常清理",
                                text:"$130/小时起"
                            },
                            {
                                icon:"",
                                title:"日常清理",
                                text:"$130/小时起"
                            },
                            {
                                icon:"",
                                title:"日常清理",
                                text:"$130/小时起"
                            }
                        ]
                    },
                ]
            }
        },
        mounted(){
            var mySwiper = new Swiper('.swiper-container', {
                loop:true,
                pagination : '.swiper-pagination',
            })
        },
        methods:{
            changeLocale(locale){
                this.$emit('changeAppLocale',locale);
            },
            
            rounte(title){
                this.$router.push({
                    name:'dooritem',
                    params: {lang: this.$i18n.locale},
                    query: {
                        title: title
                    }
                })
            },
            details(title){
                this.$router.push({
                    name:'detail',
                    params: {lang: this.$i18n.locale},
                    query: {
                        title: title
                    }
                })
            }
        }
    }
</script>