<template>
    <div class="dooritem posit">
        <head-top @backClick="changeBack" v-bind:data="{title:$t(title),start:true}"></head-top>
        <div class="dooritem-box">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://meng-lejia.oss-cn-hangzhou.aliyuncs.com/meishifenge/1_1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://meng-lejia.oss-cn-hangzhou.aliyuncs.com/meishifenge/1_2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://meng-lejia.oss-cn-hangzhou.aliyuncs.com/meishifenge/1_3.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="list">
                <div class="itme" v-for="item in list" @click="details('message.title')">
                    <div class="item-left">
                        <div class="item-icon">{{item.icon}}</div>
                        <div class="item-content">
                            <p class="item-title">{{ item.title }}</p>
                            <p class="item-text">{{ item.text }}</p>
                        </div>                        
                    </div>
                    <div class="item-right icon-right"></div>
                </div>
            </div>
        </div>
        <div class="app-foor foor">Powered by <span>hellotoby</span> </div>        
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import Swiper from 'swiper';     
    export default {
        name: 'door',
        components:{
            headTop:headTop,
        },
        data () {
            return {
                title:"",
                list:[
                    {
                        icon:"",
                        title:"日常清洗",
                        text:"$130/小时起"
                    },
                    {
                        icon:"",
                        title:"日常清洗",
                        text:"$130/小时起"
                    },
                    {
                        icon:"",
                        title:"日常清洗",
                        text:"$130/小时起"
                    },
                    {
                        icon:"",
                        title:"日常清洗",
                        text:"$130/小时起"
                    },
                    {
                        icon:"",
                        title:"日常清洗",
                        text:"$130/小时起"
                    },
                    {
                        icon:"",
                        title:"日常清洗",
                        text:"$130/小时起"
                    },
                    {
                        icon:"",
                        title:"日常清洗",
                        text:"$130/小时起"
                    },
                    {
                        icon:"",
                        title:"日常清洗",
                        text:"$130/小时起"
                    },
                    {
                        icon:"",
                        title:"日常清洗",
                        text:"$130/小时起"
                    },
                    {
                        icon:"",
                        title:"日常清洗",
                        text:"$130/小时起"
                    },
                    {
                        icon:"",
                        title:"日常清洗",
                        text:"$130/小时起"
                    },
                    {
                        icon:"",
                        title:"日常清洗",
                        text:"$130/小时起"
                    },
                ]
            }
        },
        mounted(){
            var mySwiper = new Swiper('.swiper-container', {
                loop:true,
                pagination : '.swiper-pagination',
            });
            this._data.title = this.$route.query.title;
            
        },
        methods:{
            changeBack(){
                this.$router.back(-1)
            },
            details(title){
                this.$router.push({
                    name:'detail',
                    params: {lang: this.$i18n.locale},
                    query: {
                        title: title
                    }
                })
            }
        }
    }
</script>