<template>
    <div class="head">
        <div class="head-left" @click="back" v-if=" data.start ">
            <img src="../img/bank.png" alt="">
            <span>   {{ $t("message.head.fanhui") }}</span>
        </div>
        <div class="head-left" v-else></div>
        <div class="head-content">{{ data.title }}</div>
        <div class="head-rigth" v-if="data.right" @click="preClick">{{$t('message.head.pre')}}</div>
        <div class="head-rigth" v-else></div>
    </div>
</template>
<script>
    export default {
        name:"headTop",
        props:["data"],
        data(){
            return{

            }
        },
        methods:{
            back(){
                this.$emit("backClick")
            },
            preClick(){
                this.$emit("preClick")                
            }
        }


    }

</script>
<style lang="">
    @import "../css/index.css";
</style>