<template>
    <div class="modal" v-if="modalbool">
        <div class="modal-box">
            <div class="modal-titel">{{titel}}</div>
            <div class="modal-cont">{{contents}}</div>
            <div class="modal-btn">
                <button v-show="isprompt" @click="backService">{{btncont}}</button>
                <button v-show="!isprompt" @click="backService">{{btncont}}</button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'modal',
    data(){
        return{
            titel: "",
            contents: "",
            btncont: "",
            modalbool: false,
            isprompt: false,
        }
    },
    mounted(){
        this.$root.eventHub.$on('showmodal', (item) => {
            this.modalbool = true;
            this.titel = item.titel;
            this.contents = item.contents;
            if(item.isprompt){
                this.btncont = this.$t('message.btn.mine');
            }else{
                this.btncont = this.$t('message.btn.bank');
            }
            this.isprompt = item.isprompt;
        });
    },
    methods: {
        backService(){
            this.modalbool = false;
            this.$router.push({
                name:"pres",
                params:{lang:this.$i18n.locale} 
            })
        }
    }
}
</script>
