* { margin: 0; padding: 0; font-family:  "PingFang SC Heavy", "PingFang SC", Helvetica, Arial, "Microsoft YaHei", "Heiti SC"; cursor: default; box-sizing: border-box; }
html, body { height: 100%; background-color: #fff; -webkit-overflow-scrolling : touch;}
/* body { padding-top: env(safe-area-inset-top); padding-bottom: env(safe-area-inset-bottom); } */
a { text-decoration: none; out-line: none; }
a:link, a:active, a:hover, a:visited { text-decoration: none; }
div{word-break:break-all;word-wrap:break-word;}
ul, ol { list-style: none; }
button, textarea ,select{ border: 1px solid transparent; outline: none; }
hr { outline: none; margin: 0; padding: 0; height:0; border: none; border-bottom: 1px solid #f1f1f1; }
input,select{background:none; outline:none;  border:0px}
.clearfix { *zoom: 1 }
.clearfix:after { content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; font-size: 0 }

#app{height: 100%;background-color:#f7f7f7;padding-top:44px;overflow-y:scroll;}
.posit{min-height:100%;position: relative;}
/* 底部文字 */
.app-foor{position: absolute;bottom:54px;left:0;right:0;text-align: center;height:54px;font-size: 12px;line-height: 54px;}
.app-foor span{color:red;position: relative;}
.app-foor .toby-icon{position: absolute;right: -11px;top: -3px;width: 10px;height: 9px;background-image: url('../img/Vector@3x.png');background-size: contain;background-repeat: no-repeat;}
.app-foor.foor{bottom:0;}
/* 底部按钮 */
.btn-box{position:fixed;bottom:0;left:0;right:0;height: 54px;z-index: 1000; border-top:1px solid #d4d4d4; background-color:#fff; display: flex;justify-content: center;align-items: center}
.btn-box .btn{width: 90%;height: 40px;line-height: 40px;color:#fff;background-color:#FF5C6C;border-radius: 4px;text-align: center;}
.btn-box .btn.disabled{background-color: #d4d4d4;}
/* 星星 */
.icon-star{width: 14px;height: 14px;display: inline-block;background-image: url('../img/icon-star-fill1@3x.png');background-size: 100% 100%;}
.icon-star.start{background-image: url('../img/icon-star-fill@3x.png');}
.icon-star1{background-image: url('../img/icon-star-stroke@3x.png');}
.icon-star1.start{background-image: url('../img/icon-star-stroke1@3x.png');}

/* 上拉加载loading */
.loading-pres{display: flex;justify-content: center;align-items: center;height: 54px;position: absolute;bottom:0;left:0;right:0;}
.loading-pres .loading-img{width: 20px;height: 20px;}
.loading-pres .loading-text{padding: 0 0 0 10px;}
/* 右箭头 */
.icon-right{width: 20px;height: 20px;background-image: url(../img/right.png);background-size: 100% 100%;}

/* 顶部进度 */
.line{width: 100%;height: 4px;position: fixed;top:44px;left:0;right:0;background-color:#f7f7f7;z-index: 100;border-bottom:1px solid  #efefef;}
.line-start{height: 100%;background:#FF5C6C;border-bottom:1px solid  #FF5C6C;}
/* 顶部导航 */
.head{position: fixed; top:0;left:0;right:0;z-index: 100; background-color:#fff; display: flex;justify-content: space-between;height: 44px;align-items: center;padding:0 12px;border-bottom:1px solid #d4d4d4;}
.head .head-left, .head .head-rigth{width: 100px; height: 100%; line-height: 44px;}
.head .head-left{display: flex;align-items: center;}
.head .head-left img{width: 18px;height: 18px;margin-right:4px;}
.head-rigth{font-size: 14px;text-align: right;}
/* tab */
.tab{position: fixed;bottom: 0;left:0;right:0;z-index: 100; background-color:#fff;height: 54px;display: flex;justify-content: space-between;align-items: center;border-top:1px solid #d4d4d4;}
.tab-item{display: flex;height: 100%;flex-direction:column;width: 50%;align-items: center;justify-content: center;font-size: 12px;}
.tab-icon{width: 24px;height: 24px;background: #d4d4d4;margin-bottom:2px;}

/* index */
.index{height: 100%;overflow-y:scroll;}
.swiper-slide img{width: 100%;}
.door{padding-bottom:108px;}
.door-box .iocnList{display: flex;padding:24px 0; justify-content: space-between;align-items: center;}
.door-box .iocnItem{width: 25%;}
.door-box .iocn-icon{width: 56px;height: 56px;margin:0 auto 6px;background: blue;}
.door-box .icon-text{font-size: 12px;text-align: center;}
.door-box .icon-bg{margin: 0 10px; height: 120px;border-radius: 6px; background: blueviolet;}
.door-box .door-list{}
.door-box .door-item{margin-top:10px;}
.door-box .door-title{padding:8px 10px; display: flex;align-items: center;font-size: 16px;}
.door-box .title-icon{width: 5px;height: 18px; background: red; border-radius: 4px; margin-right:10px;}
.door-box .title-list{border-top:1px solid #d4d4d4;display: flex;justify-content: space-between;flex-wrap:wrap;}
.door-box .title-item{width: 50%;padding: 10px 10px; border-bottom:1px solid #d4d4d4;background: #fff;border-right:1px solid #d4d4d4;display: flex;justify-content: space-between;align-items: center;}
.door-box .title-item:nth-child(even){border-right:0;}
.door-box .item-left{display: flex;align-items: center;}
.door-box .item-iocn{width: 30px;height: 30px; margin-right:6px;background: red;background-size:100% 100%;}
.door-box .item-content{max-width: 74%;}
.door-box .item-title{font-size: 14px;}
.door-box .item-text{font-size: 12px;color:red;}

/* 分类 */
.dooritem{padding-bottom:54px;}
.dooritem .itme{display: flex;justify-content: space-between;align-items: center;padding: 10px; background: #fff; border-bottom:1px solid #d4d4d4;}
.dooritem .item-left{display: flex;align-items: center;}
.dooritem .item-icon{width: 40px; height: 40px;margin-right:10px;background: #d4d4d4;}
.dooritem .item-text{font-size: 14px;color:red;}

/* 详情 */
.detail{height: 100%;overflow-y: scroll;}
.detail .detail-stat{padding-bottom:108px;min-height: 100%;position: relative;}
.detail .top{margin-bottom:24px; display: flex;justify-content: space-between;align-items: center;padding: 16px 10px;background: #fff;border-bottom: 1px solid #d4d4d4;}
.detail .top-left{font-size: 14px;}
.detail .top-right{font-size: 14px;color:red;}
.detail .detali-title{padding: 10px;display: flex;align-items: center;font-size: 14px;}
.detail .title-icon{width: 5px;height: 18px;display: inline-block; background-image: url('../img/Rectangle9@3x.png'); background-size: contain; background-repeat: no-repeat; margin-right:10px;}
.detail .swiper2{margin: 0 10px;}
.detail .swiper-box{background-color:#fff;border-radius: 8px;border:1px solid #efefef;padding: 10px;}
.detail .box-title{font-size: 14px;padding:10px 0;font-weight: 600;}
.detail .vice-time{font-size: 12px;}
.detail .box-vice{display: flex;align-content: center;}
.detail .vice-icon{margin-right: 10px;}
.detail .box-time{font-size: 12px;padding: 4px 0;}
.detail .box-text{font-size: 14px;height: 60px;overflow: hidden;}
.detail .additional-list{margin: 0 10px;font-size: 12px; border:1px solid #efefef;border-radius: 6px;overflow: hidden;}
.detail .additional-title{padding: 10px;color:#fff;background: #ef5353;}
.detail .additional-item{padding: 10px 30px 10px 10px; display: flex;align-items: center;justify-content: space-between;}
.detail .additional-item:nth-child(even){background: #fff;}
.detail .detail-text{font-size: 14px;color:#8D9299;padding:10px;}
.detail .process-list{padding: 0 10px;}
.detail .process-item{padding: 10px;border:1px solid #d4d4d4;background: #fff;border-radius: 8px;margin-bottom:10px;}
.detail .process-item:last-child{margin: 0;}
.detail .process-top{display: flex;align-items:center;padding: 6px;}
.detail .process-icon{width: 40px;height: 40px;background-size: contain; background-repeat: no-repeat; margin-right:4px;}
.detail .process-icon1{background-image: url('../img/sofa@3x.png');}
.detail .process-icon2{background-image: url('../img/sofa1@3x.png');}
.detail .process-icon3{background-image: url('../img/sofa2@3x.png');}
.detail .process-icon4{background-image: url('../img/sofa3@3x.png');}
.detail .process-title{font-size: 16px;font-weight: 600;}
.detail .process-text{font-size: 14px;}
.detail .advantage-list{display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;}
.detail .advantage-itme{width: 50%;padding:6px 10px;display: flex;align-items: center;}
.detail .advantage-itme:nth-child(even){padding-left:0;}
.detail .advantage-icon{width: 60px;height: 60px;border-radius: 50%;background-size: contain; background-repeat: no-repeat; margin-right:10px;}
.detail .advantage-icon1{background-image: url('../img/Group4@3x.png');}
.detail .advantage-icon2{background-image: url('../img/Group3@3x.png');}
.detail .advantage-icon3{background-image: url('../img/Group5@3x.png');}
.detail .advantage-icon4{background-image: url('../img/Group7@3x.png');}
.detail .advantage-title{width: 97px;font-size: 14px;font-weight: 600;}
.detail .security-list{padding: 0 10px;}
.detail .security-itme{padding: 6px 0;}
.detail .security-top{display: flex;align-items: center;margin-bottom:6px;}
.detail .security-icon{width: 20px;height: 20px;background-image: url('../img/maps-and-flags-3@3x.png');background-size: contain; background-repeat: no-repeat; border-radius: 50%;margin-right:6px;}
.detail .security-title{font-size: 14px;font-weight: 600;}
.detail .security-text{font-size:14px;color:#8D9299;}
.detail .problem-list{padding: 0 10px;}
.detail .problem-item{padding: 6px 0;font-size: 14px;}
.detail .problem-title{font-weight: 600;margin-bottom:6px;}
.detail .problem-text{color:#8D9299;}

/* 预约 */
.pres{padding-top:44px;height: 100%;}
.pres-tab{height: 100%;}
.pres .pres-list{position: fixed;top:44px;left:0;right:0; display: flex;background-color:#fff;height: 44px;justify-content: space-between;align-items: center;z-index: 100;}
.pres .pres-item{position: relative; width: 25%;text-align: center;height: 100%;line-height: 44px;font-size: 14px;}
.pres .pres-item.start{color:#FF5C6C;}
.pres .pres-item.start .botm{position: absolute; left:0;right: 0;bottom:0;height: 4px;background-color:#FF5C6C;}
.pres .status-icon{width: 9px;height: 9px;background-color: #FF5C6C;display: inline-block;margin-left: 4px;border-radius: 50%;}
.pres .all-itme{margin-top:10px;background: #fff;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;padding:0 10px;}
.pres .itme-title{padding: 10px 0; border-bottom:1px solid #d4d4d4;font-size: 14px;font-weight: 600;margin-bottom:6px;}
.pres .itme-text{font-size: 12px;color:#8D9299;padding: 4px 0;}
.pres .itme-foor{margin-top:6px;border-top:1px solid #d4d4d4;}
.pres .foot-text{height: 54px;line-height: 54px;font-size: 14px;color:#FF5C6C;}
.pres .foor-box{display: flex;align-items: center;justify-content: space-between;}
.pres .foor-btn{display: flex;align-items: center;}
.pres .foorBtn{font-size: 14px;padding:5px 10px;border:1px solid #FF5C6C;border-radius: 6px;color:#FF5C6C;margin-left:10px;}
.pres .prefer{padding:10px 0;border-top:1px solid #d4d4d4;display: flex;align-items: center;}
.pres .prefer-icon{width: 20px;height: 20px;background-image: url('../img/Group9@3x.png');margin-right:10px;background-size: contain;background-repeat: no-repeat;}
.pres .prefer-text{font-size: 14px;font-weight: 600;}
.pres .all,.pres .payment,.pres .ongoing,.pres .evaluate{height: 100%;overflow-y: scroll;}
.pres .all-list,.pres .payment-list,.pres .ongoing-list,.pres .evaluate-list{padding-top:1px;}
.pres .all-box{min-height: 100%;position: relative;padding-bottom:54px;}

/* 预约详情  */
.presDeta{padding-bottom:54px;}
.presDeta .presDeta-img{width: 100%;height: 80px;background-size: contain;background-repeat: repeat;display: flex;align-items: center;}
/*配對中*/
.presDeta .quoting-img{background-image: url('../img/MaskGroup@3x.png');}
/*已配對服務人員*/
.presDeta .hired-img{background-image: url('../img/MaskGroup1@3x.png');}
/*服務完成 待评价*/
.presDeta .done-img{background-image: url('../img/MaskGroup2@3x.png');}
/*已評價*/
.presDeta .rated-img{background-image: url('../img/MaskGroup3@3x.png');}
/*等待更改預約*/
.presDeta .change-img{background-image: url('../img/MaskGroup4@3x.png');}
/*預約已被取消*/
.presDeta .cancelled-img{background-image: url('../img/MaskGroup5@3x.png');}
.presDeta .presDeta-imgbox{margin-left: 10px;}
.presDeta .pres-status{display: block;line-height:20px;font-size: 14px;color: #fff;letter-spacing: 1px;font-weight: 600;}
.presDeta .pres-times,.pres-record{display: block;line-height: 20px;font-size: 12px;color: #fff;letter-spacing: 1px;}
.presDeta .pres-record i{width: 16px;height: 16px;display: inline-block;line-height: 20px;vertical-align: middle;background-image: url('../img/ecology-and-environment4@3x.png');background-size: contain;background-repeat: no-repeat;margin-right: 8px;}
.presDeta .pres-record{text-decoration: underline;}
/* background-image: url('../img/') */

.presDeta .presDeta-people{margin-bottom: 10px;padding: 0 10px; background: #fff;border-bottom:1px solid #d4d4d4;}
.presDeta .people{display: flex;justify-content: space-between;align-items: center;padding:20px 0 20px;}
.presDeta .people-left{display: flex;align-items: center;}
.presDeta .people-icon{width: 20px;height: 20px;background: blue;margin-right: 10px;border-radius: 50%;}
.presDeta .people-text{position: relative;}
.presDeta .people-name{font-size: 14px;margin-bottom: 5px;}
/* .presDeta .people-nameimg{display:inline-block;width: 14px; height: 14px;margin-right: 10px;background-image: url('../img/icon-indiviual@3x.png');background-size: contain;background-repeat: no-repeat;} */
.presDeta .people-star{position: absolute;left:0;bottom:-16px;}
.presDeta .people-star i{width: 10px;height: 10px;}
.presDeta .people-phone,.content-btn{padding:10px 0; font-size: 14px;text-align: center;color:#FF5C6C;border-top:1px solid #d4d4d4;}
.presDeta .presDeta-content{background: #fff; border-top:1px solid #d4d4d4; border-bottom:1px solid #d4d4d4;padding: 10px 10px 0;}
.presDeta .content-title{padding:10px 0;font-size: 14px;font-weight: 600;}
.presDeta .content-item{margin-bottom:16px;font-size: 12px;color:#565D67;}
.presDeta .item-text{padding:4px 0 0 10px;font-weight: 600;font-size: 14px;color:#444;}
.presDeta .presDeta-price,.presDeta-order{padding: 20px 10px 0;}
.presDeta .price-title{font-weight: 600;}
.presDeta .price-list{padding: 0 10px;}
.presDeta .price-itme{font-size: 14px;color:#565D67;display: flex;justify-content: space-between;align-items: center;padding:10px 0 0;}
.presDeta .price-total{text-align: right;padding:10px 10px 0;font-size: 14px;font-weight: 600;}
.presDeta .order-item{padding-bottom:10px;display: flex;justify-content: space-between;align-items: center;font-weight: 600;}
.presDeta .presDeta-btn{margin-top:10px;}
.presDeta .presDetaBtn{border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;text-align: center;padding: 10px 0;margin-bottom:10px;background: #fff;color:#FF5C6C;}
.presDeta .presDeta-red{border-top:1px solid #d4d4d4;margin-top:10px; border-bottom:1px solid #d4d4d4;background-color:#fff; display: flex;padding: 10px; align-items: center;justify-content: space-between;}
.presDeta .presDetaRed{width: 49%;padding:10px 0;text-align: center;background-color:#FF5C6C;color:#f1f1f1;border-radius: 6px;}
.presDeta .presDetaRed.width{width: 100%;}
.presDeta .presDeta-cell,.presDeta-complaints{border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;text-align: center;padding: 10px 0;margin-top:10px;background: #fff;color:#FF5C6C;}
/* 服务人员介绍 */
.people{height: 100%;overflow-y: scroll;}
.people-stat{padding-bottom:54px;min-height: 100%;position: relative;}
.people .people-top{padding: 0 20px;background-color:#fff;border-bottom:1px solid #d4d4d4;}
.people .people-title{display: flex;align-items: center;padding:20px 0;}
.people .people-icon{width: 80px;height: 80px;border-radius: 50%; margin-right:20px;}
.people .user-name{font-size: 16px;font-weight: 600;}
.people .user-nun{font-size: 14px;padding:6px 0 0;}
.people .user-star i{width: 10px;height: 10px;}
.people .people-text{font-size: 14px;margin-bottom:14px;}
.people .people-phone{color:#ff5c5c;font-size: 14px;padding:10px 0;text-align: center;border-top:1px solid #d4d4d4;}
.people .ment-title{padding: 20px 10px 10px;}
.people .ment-itme{background-color:#fff;padding:10px;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;margin-bottom:10px;}
.people .item-title{padding: 10px 0;font-size: 14px;font-weight: 600;}
.people .ment-vice{display: flex;align-items: center;}
.people .vice-icon{margin-right:10px;}
.people .vice-icon i{width: 10px;height: 10px;}
.people .vice-time,.ment-time{font-size: 14px;color:#565D67;}
.people .ment-time{padding: 6px 0;}
.people .ment-text{font-size: 14px;color:#444;}

/* 服务流程 */
.process{padding-bottom:54px;}
.process .process-prompt{font-size: 14px;padding:10px;color:#565D67;}
.process .process-list{padding:0 10px;}
.process .process-itme{padding:10px; margin-bottom:10px;background: #fff;border:1px solid #efefef;border-radius: 8px;}
.process .process-title{display: flex;align-items: center;padding-left:6px;}
.process .process-icon{width: 40px;height: 40px;background-size: contain; background-repeat: no-repeat; margin-right:4px;}
.process-icon1{background-image: url('../img/sofa@3x.png');}
.process-icon2{background-image: url('../img/sofa1@3x.png');}
.process-icon3{background-image: url('../img/sofa2@3x.png');}
.process-icon4{background-image: url('../img/sofa3@3x.png');}
.process .title-text{font-size: 14px;font-weight: 600; color: #222222;}
.process .process-text{display: flex;align-items: center;padding-top:10px;font-size: 14px;color:#565D67;font-weight: 600;}
.process .process-text i{width: 3px;height: 3px;border-radius: 50%;background-color:#565D67;margin-right: 10px;}


/* 取消预约与更改预约原因样式 */
.why{background: #fff;padding: 16px 10px;border-bottom:1px solid #efefef;}
.why .why-title{display: flex;align-items: center;font-size: 14px; color:#444;}
.why .why-title i{width: 20px; height: 20px;border-radius: 50%; margin-right:10px;background-image: url('../img/ecology-and-environment@3x.png');background-size: contain;background-repeat: no-repeat;}
.why .why-list{padding:0 20px;}
.why .why-item{margin-top:24px;}
.why .why-top{display: flex;align-items: center;font-size: 14px;color:#444;}
.why .why-icon{display: flex;justify-content: center;align-items: center; width: 16px;height: 16px;border:2px solid #8D9299;border-radius: 50%; margin-right:10px;}
.why .why-icon.start{border-color: #FF5C6C;}
.why .why-icon.start:after{ width: 8px;content:"";height: 8px;border-radius: 50%;background:#FF5C6C;}
.why .why-text{height: 100px; border:1px solid #d4d4d4;border-radius: 6px;overflow: hidden;margin-top:6px;}
.why .why-text textarea{width: 100%;height: 100%; background-color:#f7f7f7;padding: 10px;}
 
/* 取消预约 */
.cancel{padding-bottom:108px;}

/* 更改预约 */
.modify{padding-bottom:108px;}
.modify .modify-date{margin: 20px 0; padding:16px 10px;background-color:#fff;display: flex;justify-content: space-between;align-items: center;border-top:1px solid #efefef;border-bottom:1px solid #efefef;}
.modify .date-left{display: flex;align-items: center;font-size: 14px;}
.modify .date-icon{width: 20px;height: 20px;margin-right:10px;background-image: url('../img/ecology-and-environment1@3x.png');background-size: contain;background-repeat: no-repeat;}
.modify .date-right{font-size: 14px;color:#FF5C6C;}
.modify .modify-price{display: flex;justify-content: space-between;align-items: center;padding:0 10px;font-size: 14px;font-weight: 600;}
.modify .modify-prompt{padding:20px 10px 0;}
.modify .prompt-title{font-size: 24px;font-size: 14px;font-weight: 600;}
.modify .prompt-text{padding-top:6px;font-size: 14px;color:#565D67;}

/* 更改预约时间 */
.modifyTime{padding-bottom:108px;}
.modifyTime .modifyTime-prompt{padding:10px 10px;font-size: 14px; color:#565D67;}
.modifyTime .modifyTime-date{padding:10px 0;}
.modifyTime .date-title{padding:0 10px 6px;font-size: 14px;font-weight: 600;}
.modifyTime .date-list{padding:10px;border-top:1px solid #efefef;border-bottom:1px solid #efefef;background:#fff;}
.modifyTime .date-item{border:1px solid #d4d4d4;height: 60px;border-radius: 8px; display: flex;flex-direction:column;align-items: center;justify-content: center;}
.modifyTime .date-item.disabled{background-color:#f3f3f3;}
.modifyTime .date-item.start{border-color:#FF5C6C;}
.modifyTime .date-item.start .date-text{background-color:#FF5C6C;}
.modifyTime .date-item.start .week,.date-item.start .date-time{color:#FF5C6C;}
.modifyTime .week{font-size: 14px;font-weight: 600;padding-top:2px;overflow: hidden;text-align: center;white-space:nowrap;width: 100%;}
.modifyTime .date-time{font-size: 10px;color:#565D67;padding: 2px 0;}
.modifyTime .date-div{position: relative;height: 16px;width: 100%;}
.modifyTime .date-text{position: absolute;left:-1px;right:-1px;bottom: -1px;border-bottom-left-radius:8px;border-bottom-right-radius: 8px; text-align: center;height: 16px;background: #23d4bb;display: flex;align-items: center;justify-content: center;}
.modifyTime .date-text.yellow{background-color: #fbbd4c}
.modifyTime .date-text span{color:#f7f7f7;font-size: 12px;transform: scale(0.7); display:block;}
.modifyTime .time-list{display: flex;flex-wrap: wrap;padding: 0}
.modifyTime .time-item{margin:10px 0 10px 10px; width: 21.6%; height: 60px;}
.modifyTime .time-send{display: flex;flex-direction: column;align-items: center;justify-content: center;height: 100%;font-size: 12px;color:#565D67;border: 1px solid #d4d4d4;border-radius: 6px;}
.modifyTime .time-text{padding-top:2px;}
.modifyTime .time-send.disabled{background-color:#f3f3f3;}
.modifyTime .time-send.start{color:#FF5C6C;border-color:#FF5C6C;}

/* 评价 */
.ment{padding-bottom:108px;}
.ment .ment-star{border-bottom: 1px solid #efefef; background: #fff; padding:0 10px;}
.ment .ment-list{border-top:1px solid #efefef;}
.ment .ment-item{display: flex;justify-content: space-between;align-items: center;padding:14px 0;}
.ment .ment-left{display: flex;align-items: center;}
.ment .ment-title{width: 90px;padding-left:10px; font-size: 14px;color:#444;}
.ment .star-ment i{width: 26px;height: 26px;margin:0 2px;}
.ment .ment-right{font-size: 14px;font-weight: 600;}
.ment .ment-ping{margin-top:10px;border-top:1px solid #efefef;border-bottom:1px solid #efefef;background-color:#fff;padding:10px;}
.ment .ping-title{font-size: 14px;display: flex;justify-content: space-between;align-items: center;}
.ment .title-left{display: flex;align-items: center;}
.ment .ping-icon{width: 16px;height: 16px;margin-right:10px;background-image: url('../img/ecology-and-environment2@3x.png');background-size: contain;background-repeat: no-repeat;}
.ment .title-right{padding-right:26px;}
.ment .ping-text{margin: 4px 26px;height: 100px;border:1px solid #d4d4d4;border-radius: 6px;overflow: hidden;}
.ment .ping-text textarea{width: 100%;height: 100%;background-color:#f7f7f7;padding: 10px; font-size: 12px;}
.ment .ping-list{padding: 10px 26px 0;display: flex;align-items: center;flex-wrap: wrap;}
.ment .ping-item{padding: 6px 10px;font-size: 12px;border:1px solid #d4d4d4;margin:0 10px 10px 0;border-radius: 6px;display: flex;align-items: center;}
.ment .ping-item i{color:#e54c4c;font-size: 26px; margin-right: 6px;height: 26px;line-height: 26px;}

/* 预约 */
.about{padding-bottom:108px;padding-top:4px;}
.about .about-item{margin-bottom:10px; background: #fff;border-top:1px solid #efefef;border-bottom:1px solid #efefef;}
.about .about-top{padding:16px 10px;display: flex;justify-content: space-between;align-items: center;}
.about .top-left{display: flex;align-items: center;font-size: 14px;}
.about .top-icon{width: 20px;height: 20px;margin-right:10px; background-size: contain; background-repeat: no-repeat;}
.about .top-icona{background-image: url('../img/icon-location@3x.png');}
.about .top-iconb{background-image: url('../img/Group1@3x.png');}
.about .top-iconc{background-image: url('../img/ecology-and-environment3@3x.png');}
.about .top-right{color:#FF5C6C;font-size: 14px;position: relative;overflow: hidden;max-width: 70%;}
.about .top-right .area-select{position: absolute;top:0;left:0;right:0;bottom:0;opacity: 0;}
.about .ation-list{padding:0 36px;}
.about .ation-item{padding:10px;font-size: 14px;color:#565D67;display: flex;align-items: center;}
.about .ation-icon{width: 16px;height: 16px;border:2px solid #8D9299;border-radius: 2px;margin-right:10px;}
.about .ation-item.start{color:#FF5C6C;}
.about .ation-item.start .ation-icon{border:0;width: 16px;height: 16px;background-color:#FF5C6C;background-image: url("../img/dui.png");background-size: 100% 100%;}

/* 地址 */
.address{padding-bottom:108px;}
.address .address-box{padding: 0 10px;}
.address .address-title{padding:16px 0 6px;font-size: 16px;}
.address .address-item{padding:10px;background-color:#fff;border:1px solid #d4d4d4;margin-bottom:10px;border-radius: 6px; display: flex;justify-content: space-between;align-items: flex-start;}
.address .address-right{width: 20px;height: 20px;background: #d4d4d4;}
.address .adderss-left{display: flex;align-items: center;}
.address .address-icon{width: 18px;height: 18px;border:2px solid #b2b2b2;border-radius: 50%;background-color:#f7f7f7;margin-right:10px;display: flex;justify-content: center;align-items: center;}
.address .address-icon.start{border-color:#FF5C6C;}
.address .address-icon.start:after{content:"";width: 10px;height: 10px;border-radius: 50%;background-color:#FF5C6C;}
.address .address-content{font-size: 14px;color:#565D67;}
.address .address-name{font-weight: 600;color:#000;}
.address .address-phone{padding: 4px 0;}
.address .add{display: flex;align-items: center; padding:10px;border:1px solid #d4d4d4;background-color:#fff;border-radius: 6px;}
.address .add-box{width: 92%;}
.address .add-item{padding-top:6px;}
.address .add-title{font-size: 14px;font-weight: 600;padding-bottom:2px;}
.address .add-input{border:1px solid #d4d4d4;border-radius: 4px;height: 36px;background-color:#f7f7f7;display: flex;align-items: center;padding: 0 10px;}
.address .add-input span{color:#444;font-size: 14px;margin-right:10px;}
.address .add-input input{width: 100%;height: 100%;}
.address .add-input.phone input{width: 80%;}

/* 预约时间 */
.aboutDate{padding-bottom:108px;}
.aboutDate .aboutDate-date{padding:20px 10px; border-top:1px solid #efefef;border-bottom:1px solid #efefef;background-color:#fff;display: flex;justify-content: space-between;align-items: center;}
.aboutDate .date-left{display: flex;align-items: flex-start;width: 60%;}
.aboutDate .date-content{width: 78%;}
.aboutDate .date-icon{width: 20px;height: 20px;border-radius: 50%;margin-right:10px;background-image: url('../img/ecology-and-environment4@3x.png');background-size: contain; background-repeat: no-repeat;}
.aboutDate .date-title{font-size: 14px;font-weight: 600;}
.aboutDate .date-text{font-size: 12px;color:#565D67;}
.aboutDate .date-right{width: 40%;display: flex;justify-content: space-between;align-items: center;}
.aboutDate .date-subtract,.date-add{width: 40px;height: 40px;border-radius: 50%;background-size: contain; background-repeat: no-repeat;}
.aboutDate .date-subtract{background-image: url('../img/Group2@3x.png');}
.aboutDate .date-add{background-image: url('../img/Group_2@3x.png');}
.aboutDate .date-tiem{font-size: 14px;font-weight: 600;color:#FF5C6C;}
.aboutDate .aboutDate-time{border-top:1px solid #efefef;border-bottom:1px solid #efefef;margin-top:10px;background-color:#fff;padding:20px 10px;display: flex;justify-content: space-between;align-items: center;}
.aboutDate .time-left{display: flex;align-items: center;font-size: 14px;font-weight: 600;}
.aboutDate .time-icon{width: 20px;height: 20px;margin-right:10px;background-image: url('../img/ecology-and-environment1@3x.png');background-repeat: no-repeat;background-size: contain;}
.aboutDate .time-right{font-size: 14px;color:#FF5C6C;}
.aboutDate .aboutDate-item{padding:10px;}
.aboutDate .aboutDate-title{font-size: 16px;font-weight: 600;padding:10px 0;}
.aboutDate .aboutDate-text{font-size: 14px;color:#565D67;}
.aboutDate .aboutDate-text a{color:#FF5C6C;border-bottom:1px solid #FF5C6C;}
.aboutDate .aboutDate-list{padding-left:10px;}
.aboutDate .item-line{display: flex;align-items: center;justify-content: space-between;font-size: 14px;color:#565D67;margin-bottom:6px;}
.aboutDate .toal-price{text-align: right;font-size: 14px;font-weight: 600;}
.aboutDate .mask-about{z-index: 200; position: fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.6);display: flex;justify-content: center;align-items: center;}
.aboutDate .mask-box{width: 86%;background-color:#fff;border:1px solid #565D67;border-radius: 10px;}
.aboutDate .mask-top{padding:20px 10px;display: flex;justify-content: space-between;}
.aboutDate .top-title{font-size: 16px;display: flex;align-items: center;}
.aboutDate .top-icon{width: 4px;height: 20px;border-radius: 3px;background-color:#FF5C6C;margin-right:6px;}
.aboutDate .down{width: 20px;height: 20px;text-align: center;line-height: 20px;font-size: 28px;color:#FF5C6C;font-weight: 600;}
.aboutDate .mask-item{padding:10px;border-top:1px solid #efefef;}
.aboutDate .mask-title{display: flex;align-items: center;padding-left:10px;font-size: 14px;font-weight: 600;}
.aboutDate .mask-icon{width: 30px;height: 30px;margin-right:10px;background-size: contain; background-repeat: no-repeat;}
.aboutDate .mask-text{font-size: 14px;color:#565D67;}

/* 预约选择人员 */
.choose{padding-bottom:108px;}
.choose .choose-item{padding:0 10px;border-top:1px solid #efefef;border-bottom:1px solid #efefef;margin-bottom:10px;background-color:#fff;}
.choose .choose-top{padding:20px 0;display: flex;justify-content: space-between;align-items: center;}
.choose .choose-left{display: flex;align-items: center;font-size: 14px;font-weight: 600;}
.choose .choose-icona{width: 20px;height: 20px;border-radius: 50%;margin-right: 10px;background-image: url('../img/icon-indiviual@3x.png');background-size: contain;background-repeat:no-repeat;}
.choose .choose-iconb{width: 20px;height: 20px;border-radius: 50%;margin-right: 10px;background-image: url('../img/icon-price@3x.png');background-size: contain;background-repeat:no-repeat;}
.choose .choose-iconc{width: 20px;height: 20px;border-radius: 50%;margin-right: 10px;background-image: url('../img/ecology-and-environment2@3x.png');background-size: contain;background-repeat:no-repeat;}
.choose .choose-icond{width: 20px;height: 20px;border-radius: 50%;margin-right: 10px;background-image: url('../img/ecology-and-environm@3x.png');background-size: contain;background-repeat:no-repeat;}
.choose .choose-right{color:#FF5C6C;font-size: 14px;}
.choose .tional{padding-bottom:20px;}
.choose .tional-item{padding:10px 0 10px 30px;display: flex;align-items: center;font-size: 14px;color:#565D67;}
.choose .tional-icon{width: 16px;height: 16px;border:2px solid #b2b2b2;margin-right:10px;}
.choose .tional-item.start{color:#FF5C6C;}
.choose .tional-item.start .tional-icon{border:0;background-color:#FF5C6C;background-image: url(../img/dui.png);background-size: 100% 100%;}
.choose .note-top{padding-bottom:2px;}
.choose .note-top .choose-right{font-size: 12px;color:#565D67;padding-right:30px;}
.choose .note{padding:0 30px 20px;}
.choose .note-text{height: 100px;border:1px solid #d4d4d4;border-radius: 6px;overflow: hidden;}
.choose .note-text textarea{width: 100%;height: 100%;padding:6px;background-color:#f7f7f7;}
.choose .note-list{display: flex;align-items: center;flex-wrap: wrap;}
.choose .note-item{padding:6px 10px;border:1px solid #d4d4d4;border-radius: 4px;margin-top:10px;margin-right:10px;font-size: 14px;display: flex;align-items: center}
.choose .note-icon{font-size: 22px;height: 22px; color:#FF5C6C;margin-right:4px;}
.choose .choose-tishi{padding:0 10px;}
.choose .tishi-title{padding:10px 0;font-weight: 600;}
.choose .tishi-text{margin-bottom:16px;font-size: 14px;color: #565D67;}
.choose .tishi-list{padding-left:10px;}
.choose .item-line{display: flex;justify-content: space-between;font-size:14px;color:#565D67;margin-bottom:10px;}
.choose .toal-price{text-align: right;font-size: 14px;font-weight: 600;}

/* 服务人员 */
.personnel{padding-bottom:108px;}
.personnel .personnel-box{padding:10px 10px 0;}
.personnel .personnel-item{margin-top:10px;border:1px solid #efefef;border-radius: 8px;background-color:#fff;padding:10px;display: flex;align-items: center;}
.personnel .personnel-icon{width: 18px;height: 18px;border-radius: 50%;border:2px solid #b2b2b2;background-color:#f7f7f7;margin-right:10px; display: flex;align-items: center;justify-content: center;}
.personnel .personnel-item.top{padding:16px 10px;margin:0;}
.personnel .personnel-item.start .personnel-icon{border-color:#FF5C6C;}
.personnel .personnel-item.start .personnel-icon:after{width: 10px;height: 10px;content:"";border-radius: 50%;background-color:#FF5C6C;}
.personnel .personnel-text{font-size: 14px;color:#565D67;}
.personnel .personnel-user{display: flex;align-items: center;}
.personnel .user-avatar{width: 46px;height: 46px;border-radius: 50%;background:#d4d4d4;margin-right:10px;}
.personnel .user-name{font-size: 14px;font-weight: 600;}
.personnel .user-text{font-size: 14px;color:#565D67;padding:4px 0;}
.personnel .user-star i{width: 10px;height: 10px;}
.personnel .personnel-title{font-size: 16px;font-weight: 600;margin-top:20px;}

/* 预约详情 */
.aboutDetail{padding-bottom:108px;}
.aboutDetail .aboutDetail-top{background-color:#fff;border-bottom:1px solid #efefef;padding:10px;}
.aboutDetail .aboutDetail-title{padding:10px 0;font-size: 14px;font-weight: 600;}
.aboutDetail .aboutDetail-item{padding-bottom:10px;}
.aboutDetail .item-title{font-size: 12px;color:#565D67;}
.aboutDetail .item-text{font-size: 14px;padding-left:14px;padding-top:2px; color: #222;}
.aboutDetail .aboutDetail-price{padding:10px;}
.aboutDetail .price-titel{padding:10px 0;}
.aboutDetail .price-list{padding-left:10px;}
.aboutDetail .price-item{display: flex;justify-content: space-between;align-items: center;font-size:14px;color:#565D67;margin-bottom:10px;}
.aboutDetail .toal-price{font-size: 14px;text-align: right;font-weight: 600;}
.aboutDetail .aboutDetail-tiaokuan{padding:10px;}
.aboutDetail .tiaokuan-title{padding:10px 0;}
.aboutDetail .tiaokuan-text{margin-bottom:10px;font-size: 14px;color:#565D67;}
.aboutDetail .tiaokuan-text a{color:#FF5C6C;border-bottom:1px solid #FF5C6C;}

/* 预约完成 */
.complete{display: flex;justify-content: center;align-items: center;height: 100%;background-color: #F9F9F9;}
.complete-box{width: 60%;display: flex;flex-direction: column;justify-content: center;align-items: center}
.complete-icon{width: 200px;height: 160px;background-image:url('../img/alipay_banner-03@3x.png');background-size: contain;background-repeat: no-repeat;}
.complete-title{padding:20px 0;font-size: 22px;font-weight: 600;}
.complete-text{font-size: 16px;color:#565D67;text-align: center;}
.complete-btn{width: 200px;text-align: center;height: 40px;line-height: 40px;margin-top:20px;background-color:#FF5C6C;border-radius: 6px;color:#f7f7f7;}

/* 弹出框model */
.modal{position: fixed;top:0;left:0;width: 100%;height: 100%;background-color: rgba(0,0,0,.6);z-index: 1000;overflow: hidden;}
.modal .modal-box{width: 80%;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);background-color: #fff;border-radius: 10px;}
.modal .modal-titel{display: inline-block;width: 100%;line-height: 80px;font-size: 22px;font-weight: bold;text-align: center;letter-spacing: 1px;}
.modal .modal-cont{width: 80%;margin: 0 auto 20px;font-size: 18px;white-space: pre-wrap;line-height: 24px;text-align: center;}
.modal .modal-btn{display:block;margin: 0 auto 25px;;;width: 70%;}
.modal .modal-btn button{width: 100%;height: 50px;background-color: #FF5C6C;border-radius: 6px;color: #fff;font-size: 18px;letter-spacing: 1px;}

/* 预约记录 */
.record-box{padding:10px 20px;}
.record-item{padding: 10px 0 10px 30px;position: relative;color:#888;}
.record-line{position: absolute;height: 120%;width: 2px;transform: translate(-50%,0); background-color:#d4d4d4;bottom:60%;left:15px;}
.record-title{font-size: 16px;position: relative;}
.record-time{font-size: 12px;padding-top:4px;}
.record-point{position: absolute;left:-15px;transform: translate(-50%,-50%); top:50%;width: 12px;height: 12px;background-color:#8D9299;border-radius:50%;z-index: 100;display: flex;justify-content: center;align-items: center;}
.record-point:after{width: 6px;height: 6px;content:"";border-radius: 50%;background-color:#565D67;}
.record-item.start{color:#FF5C6C;}
.record-item.start .record-point{background-color:#FF5C6C;}
.record-item.start .record-point:after{background-color:#fff;}
.record-item.start .record-point.start{width: 18px;height: 18px;}
.record-item.start .record-point.start:after{width: 8px;height: 8px;}

/* 提示框 */
.prompt{position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 1100;background-color: rgba(0,0,0,.6);overflow: hidden;}
.prompt .prompt-box{width: 40%;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);background-color: #fff;border-radius: 8px;}
.prompt .prompt-title{width: 90%;margin: 0 auto 6px;display: block;text-align: center;line-height: 60px;font-size: 20px;font-weight: 600;color: #222;letter-spacing: 1px;}
.prompt .prompt-cont{width: 90%; text-align: center; margin: 0 auto 22px;line-height: 20px;font-size: 16px;color: #565D67;white-space: pre-wrap;}
/* loging */
.loading{background-color:rgba(0,0,0,0);}
.loading-box{position: absolute;left:50%;top:50%;transform: translate(-50%, -50%);background-color: #fff;border-radius: 8px;width: 100px;height: 100px;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.loading-img{width: 40px;height: 40px;background-image: url(../img/loading.gif);background-size: 100% 100%;}
.loading-text{padding-top:10px;font-size: 14px;padding-left:10px;}
