<template >
  <div class="index">
      <detail></detail>

      
        <!--<prince :is="current" keep-alive></prince>      -->
      <!--<div class="tab">
        <div class="tab-item" @click="tabClick('door')">
          <div class="tab-icon"></div>
          <div class="tab-text">{{ $t('message.tab.index') }}</div>
        </div>
        <div class="tab-item" @click="tabClick('pres')">
          <div class="tab-icon"></div>
          <div class="tab-text">{{ $t('message.tab.pre') }}</div>
        </div>
      </div>-->
  </div>
</template>

<script>
// import door from "./door/door";
// import pres from "./pres/pres";
import detail from './door/detail';
import { ajax } from '@/util/util';
export default {
  name: 'index',
  components:{
    detail:detail,
  },
  data () {
    return {
      start:true,
      current:"door"
    }
  },
  mounted(){
    if(this.$toggleTab){
      this._data.current = this.$toggleTab;
    }
  },
  methods:{
		changeLocale(locale){
			this.$emit('changeAppLocale',locale);
		},
    tabClick(start){
      this._data.current = start;
      this.settoggleTab(start);
      if(start == "pres"){
        this.setPresTab("all");                 
      }
    },
  }
}
</script>
