<template>
  <div id="app">
    <router-view  v-bind:lang="lang" />
    <modal></modal>
    <prompt></prompt>
    <loading></loading>
  </div>
</template>

<script>
import modal from './components/modal'
import prompt from './components/prompt'
import loading from './components/loading'
import {setCookie, ajax, getCookie} from "@/util/util"

  export default {
    name: 'App',
    components:{modal,prompt,loading},
    data(){
      return{
        lang: ''
      }
    },
    mounted(){
  
      setCookie("nfcountry","HK",30)
      setCookie("nftoken","8017e0f7cee12c03bdc25cbe6746441f3488dc945452835f9321133257e89e87",30)
      setCookie("localeId","zh-hk",30)
      
      this.changeLanguage(this.$route.params.lang?this.$route.params.lang:this.$i18n.locale);
      if(!this.$route.params.lang){
        this.$router.push({name: 'index', params: {lang:this.$route.params.lang?this.$route.params.lang:this.$i18n.locale}});             
      }
      
      this.$nextTick(function () {
        this.setStatus();
      })
    },
    methods:{
      changeLanguage(lang){
        this.$i18n.locale=lang;
        this.lang=lang;
      },
      changeLocale(locale){
        this.changeLanguage(locale);
        this.$router.push({name: this.$route.name, params: {lang: this.lang}})
      },
      setStatus(){
        var params = {
          url: "api/project/status",
          type: "get",
          success: res => {
            for(let item in res.data.directUnviewed){//判斷是否存在未查看的新信息
              if(res.data.directUnviewed[item]>0){
                this.setStatusicon(item,true);
              }
            }
            console.log(this.$statusicon)
          }
        }
        ajax(params);
      }
    },
    
  }
</script>

